:root {
  --accent-1: #003b77;
  --accent-2: #9f9;
  --text-body: #111827;
  --white: #fff;
  --gray-1: #f3f3f3;
  --gray-2: #d1d5db;
  --gray-3: #9ca3af;
  --gray-4: #6b7280;
  --gray-5: #4b5563;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.section__link-white {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section__link-white p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--white);
  margin-right: 10px;
  transition: all 0.3s;
}
.section__link-white:hover p {
  color: rgba(153, 255, 153, 0.623);
}
.section__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section__link p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--accent-1);
  margin-right: 10px;
  transition: all 0.3s;
}
.section__link:hover p {
  color: rgba(153, 255, 153, 0.623);
}
.section__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 140%;
  color: var(--accent-1);
}
.section__title-white {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 140%;
  color: var(--white);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--text-body);
}

.container {
  max-width: 1456px;
  margin: 0 auto;
}

.header {
  margin-bottom: 136px;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__wrapper nav {
  margin-left: auto;
}
.header__list {
  display: flex;
}
.header__link {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--text-body);
  margin-right: 40px;
}
.header__link:hover a, .header__link:hover path {
  color: var(--accent-1);
  fill: var(--accent-1);
}
.header__link a {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.header__link a p {
  margin-right: 4px;
}
.header__dropdown-list {
  position: absolute;
  top: 30px;
  left: 0;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(76, 123, 135, 0.2);
  background-color: var(--white);
  display: none;
}
.header__dropdown-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--text-body);
  padding: 10px;
  transition: all 0.3s;
}
.header__dropdown-link:not(:last-child) {
  border-bottom: 0.5px solid var(--gray-2);
}
.header__dropdown-link:hover {
  background: var(--gray-1);
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 51px;
  background-color: var(--accent-1);
  margin-right: 40px;
}
.header__button p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--white);
  margin-right: 20px;
}
.burger-menu.active {
  transform: translateY(0);
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
  transform: translateY(-110%);
  width: 100%;
  height: 100vh;
  background-color: var(--accent-1);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--white);
}
.burger-menu__btn {
  position: absolute;
  top: 20px;
  right: 40px;
  border-radius: 100%;
  width: 46px;
  height: 46px;
  border: 2px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-menu__header {
  max-height: 320px;
  padding-bottom: 80px;
  padding-right: 200px;
  padding-top: 80px;
  margin-bottom: 80px;
  border-bottom: 0.5px solid var(--gray-4);
  overflow: hidden;
}
.burger-menu__header-columns {
  display: flex;
  justify-content: space-between;
}
.burger-menu__header-column {
  max-height: 200px;
  max-width: 490px;
}
.burger-menu__footer-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 40px;
}
.burger-menu__footer-columns {
  display: flex;
  justify-content: space-between;
}
.burger-menu__footer-column span {
  font-weight: 400;
  color: var(--accent-2);
  margin-bottom: 8px;
}
.burger-menu__footer-column-title {
  margin-bottom: 30px;
}
.burger-menu__footer-column-item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.burger-button {
  position: relative;
  width: 48px;
  height: 26px;
}
.burger-button__line {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 48px;
  height: 2px;
  background-color: var(--accent-1);
  transition: all 0.3s;
}
.burger-button__line:first-child {
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  width: 33px;
}
.burger-button__line:last-child {
  top: 100%;
}

.column-burger-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.column-burger-menu__title {
  font-weight: 800;
  font-size: 34px;
  margin-bottom: 40px;
}
.column-burger-menu__link {
  margin-bottom: 30px;
  margin-right: 32px;
}

.main {
  position: relative;
  margin-bottom: 140px;
}
.main__wrapper {
  padding-top: 172px;
}
.main__svg-title {
  position: absolute;
  top: -90px;
}
.main__title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 60px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--gray-1);
}
.main__title-green-left {
  color: var(--accent-2);
}
.main__title-green-right {
  color: var(--accent-2);
  margin-left: 100px;
}
.main__text-body {
  display: flex;
}
.main__title-white {
  margin-right: 28px;
}
.main__description-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  max-width: 360px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.main__footer {
  display: flex;
  justify-content: space-between;
}
.main__footer-social {
  display: flex;
}
.main__footer-social-link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--white);
  margin-right: 60px;
  transition: all 0.3s;
}
.main__footer-social-link:hover {
  color: var(--accent-2);
}
.main__sidebar-social {
  position: absolute;
  bottom: 60px;
  right: 70px;
  border-radius: 50px;
  background-color: var(--accent-1);
  padding: 11px 10px 0 10px;
}
.main__sidebar-social-link:not(:last-child) {
  margin-bottom: 23px;
}
.main__sidebar-social-link svg path {
  transition: all 0.3s;
}
.main__sidebar-social-link:last-child:hover path {
  stroke: var(--accent-2);
}
.main__sidebar-social-link:not(:last-child):hover path {
  fill: var(--accent-2);
}
.main__slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.achievements {
  margin-bottom: 120px;
}
.achievements__title {
  margin-bottom: 80px;
}
.achievements__columns {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.achievements-column__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: var(--text-body);
  padding-bottom: 18px;
  border-bottom: 1px solid var(--gray-2);
  margin-bottom: 18px;
}
.achievements-column__subtitle {
  display: flex;
  align-items: baseline;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 42px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--accent-1);
}
.achievements-column__number {
  font-size: 80px;
}

.about {
  margin-bottom: 240px;
}
.about__title {
  margin-bottom: 40px;
}
.about__text {
  max-width: 1000px;
  margin-left: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--text-body);
  margin-bottom: 60px;
}
.services {
  position: relative;
  background: url("/img/services-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  margin-bottom: 140px;
  padding-bottom: 140px;
}
.services__svg-title {
  position: absolute;
  top: -95px;
}
.services__text {
  max-width: 1000px;
  margin-left: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--white);
  margin-bottom: 40px;
}
.services__link {
  margin-bottom: 60px;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
.services-carusel {
  display: flex;
}
.services-carusel__item {
  position: relative;
}
.services-carusel__item-title {
  position: absolute;
  bottom: 50px;
  left: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: var(--white);
}

.why-us {
  margin-bottom: 140px;
}
.why-us__title {
  margin-bottom: 60px;
}
.why-us__body {
  display: flex;
  gap: 20px;
  margin-left: 370px;
}
.why-us__column-right {
  margin-top: 60px;
}

.why-us-item {
  margin-bottom: 20px;
  position: relative;
  background: #09325b;
  width: 472px;
  height: 472px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.why-us-item__title {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 215px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: var(--white);
  transition: all 0.5s;
}
.why-us-item__description {
  position: absolute;
  top: 50%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--text-body);
  max-width: 245px;
  transition: all 0.5s;
  opacity: 0;
}
.why-us-item__img {
  position: relative;
  width: 200px;
  height: 200px;
  transition: all 0.3s;
}
.why-us-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.why-us-item__decore {
  position: absolute;
  top: -30px;
  right: -30px;
  transition: all 0.5s;
}
.why-us-item__num {
  position: absolute;
  bottom: 25px;
  left: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 140%;
  color: var(--white);
  transition: all 0.5s;
}
.why-us-item:hover .why-us-item__num, .why-us-item:hover .why-us-item__img {
  opacity: 0;
}
.why-us-item:hover {
  background-color: var(--white);
}
.why-us-item:hover .why-us-item__title {
  color: var(--text-body);
}
.why-us-item:hover .why-us-item__description {
  opacity: 1;
}

.partners {
  margin-bottom: 140px;
}
.partners__title {
  margin-bottom: 40px;
}
.partners__text {
  margin-left: auto;
  max-width: 1080px;
  margin-bottom: 60px;
}
.partners-tabs ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.partners-tabs__tab {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--gray-4);
  border-bottom: 3px solid #fff;
  transition: all 0.3s;
}
.partners-tabs__tab:hover {
  border-bottom: 3px solid var(--accent-1);
}
.partners-tabs__content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.partners-tabs__content-img {
  border-radius: 4px;
  background-color: var(--gray-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-tabs__content-link {
  border-radius: 4px;
  background-color: var(--accent-2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 18px;
  padding: 0 54px 30px 0;
}
.partners-tabs__content-link path {
  transition: all 0.3s;
}
.partners-tabs__content-link:hover p, .partners-tabs__content-link:hover path {
  color: var(--gray-3);
  stroke: var(--gray-3);
}
.partners-grid__item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.partners-grid__item5 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.news {
  padding: 140px 0;
  background-image: url("/img/news/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 140px;
}
.news__title {
  margin-bottom: 60px;
}
.news__body {
  display: flex;
  justify-content: space-between;
}
.news__column-left {
  max-width: 660px;
}
.news__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--white);
  padding-bottom: 34px;
  margin-bottom: 34px;
  border-bottom: 1px solid var(--white);
}
.news__link a {
  display: flex;
}
.questions {
  margin-bottom: 140px;
}
.questions__title {
  margin-bottom: 60px;
}
.questions-accordion__item {
  margin-bottom: 20px;
}
.questions-accordion__btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--text-body);
  padding: 32px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-1);
  border-radius: 4px;
  width: 100%;
}
.questions-accordion__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--text-body);
  padding: 40px;
  transform: translateY(-100%);
  opacity: 0;
  display: none;
}

.questions-accordion__btn.active svg {
  transform: rotate(180deg);
}

.questions-accordion__text.active {
  transform: translateY(0);
  opacity: 1;
  display: block;
}

.footer {
  padding-top: 140px;
  padding-bottom: 42px;
  background-image: url("/img/map-gost.svg"), url("/img/news/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__title {
  margin-bottom: 60px;
}
.foote-conection__body {
  display: flex;
}
.foote-conection__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--white);
  max-width: 590px;
}
.foote-conection__title span {
  color: var(--accent-2);
}
.foote-conection {
  margin-bottom: 202px;
}
.footer-form {
  max-width: 718px;
  width: 100%;
}
.footer-form__columns {
  display: flex;
  gap: 20px;
}
.footer-form__column {
  flex: 1;
  max-width: 100%;
}
.footer-form__input-wrapper {
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
  margin-bottom: 63px;
  max-width: 350px;
  width: 100%;
}
.footer-form__input-wrapper input {
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  width: 100%;
}
.footer-form__input-wrapper input::-moz-placeholder {
  color: #b3bccc;
}
.footer-form__input-wrapper input::placeholder {
  color: #b3bccc;
}
.footer-form__select-wrapper {
  position: relative;
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
}
.footer-form__select-wrapper select {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--white);
  background: none;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  cursor: pointer;
}
.footer-form__select-wrapper select option {
  color: var(--gray-4);
}
.footer-form__select-wrapper label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #b3bccc;
}
.footer-form__select-wrapper svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.footer-form__textarea-wrapper {
  position: relative;
  border-bottom: 1px solid var(--white);
  margin-bottom: 40px;
}
.footer-form__textarea-wrapper textarea {
  resize: none;
  overflow: hidden;
  outline: none;
  height: 1.5em;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #ffffff;
  width: 100%;
  padding: 5px;
}
.footer-form__textarea-wrapper textarea::-moz-placeholder {
  color: #b3bccc;
}
.footer-form__textarea-wrapper textarea::placeholder {
  color: #b3bccc;
}
.footer-form__btn {
  margin-left: auto;
}

.footer-subscribe {
  border-bottom: 1px solid var(--white);
  padding-bottom: 26px;
  margin-bottom: 42px;
}
.footer-subscribe__columns {
  display: flex;
  justify-content: space-between;
}
.footer-subscribe__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-subscribe__column:first-child {
  align-items: flex-start;
}
.footer-subscribe__column:last-child {
  align-items: flex-end;
}
.footer-subscribe__title-green {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--accent-2);
  margin-bottom: 9px;
}
.footer-subscribe__link-sm {
  ont-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--gray-2);
}
.footer-subscribe__title-white {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 14px;
}
.footer-subscribe__link-md {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--gray-2);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  align-items: center;
}