.section-main {
   position: relative;
   margin-bottom: 135px;
   padding-bottom: 37px;

   &__bg {
      background: linear-gradient(50deg, #002a55 0%, rgba(0, 42, 85, 0) 100%),
         linear-gradient(120deg, #002a55 0%, rgba(0, 42, 85, 0) 100%),
         linear-gradient(
            0deg,
            rgba(0, 42, 85, 0.63) 0%,
            rgba(0, 42, 85, 0) 100%
         ),
         var(--accent-1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         opacity: 0.4;
      }
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(
            to right,
            rgba(0, 42, 85, 0.9) 30%,
            rgba(0, 42, 85, 0) 70%
         );
         opacity: 0.8; // Регулируй затемнение
      }
   }
   &__wrapper {
      position: relative;
      padding-top: 130px;
   }

   &__text {
      padding-bottom: 75px;
   }

   &__description {
      h2 {
         font-family: var(--font-family);
         font-weight: 800;
         font-size: 60px;
         line-height: 140%;
         text-transform: uppercase;
         color: var(--white);
         margin-bottom: 40px;
      }
      p {
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 18px;
         line-height: 140%;
         color: var(--white);
         max-width: 718px;
         margin-top: 20px;
         margin-bottom: 30px;
      }
   }

   &__description-text {
   }

   &__description-link {
   }

   &__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

   &__footer-social {
      display: flex;
   }

   &__footer-social-link {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--white);
      transition: all 0.3s;
      &:not(:last-child) {
         margin-right: 60px;
      }
      &:hover {
         color: var(--accent-2);
      }
   }

   &__sidebar-social {
      position: absolute;
      bottom: 20px;
      right: 70px;
      border-radius: 50px;
      background-color: var(--accent-1);
      padding: 11px 10px 0 10px;
   }

   &__sidebar-social-link {
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      svg path {
         transition: all 0.3s;
      }
      &:last-child:hover path {
         stroke: var(--accent-2);
      }
      &:not(:last-child):hover path {
         fill: var(--accent-2);
      }
   }
   @media (max-width: 1750px) {
      &__sidebar-social {
         bottom: 120px;
      }
   }

   @media (max-width: 1024px) {
      & &__wrapper {
         padding-top: 110px;
      }

      &__sidebar-social {
         display: none;
      }
      &__footer-social {
         display: none;
      }
      &__text {
      }
      &__text-body {
         display: block;
      }
      &__description {
         h2 {
            font-size: 30px;
         }
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 72px;
      &__title {
         font-size: 34px;
         margin-bottom: 48px;
         margin-top: -28px;
      }
      &__wrapper {
         padding-top: 220px;
      }
      &__description-text {
         font-size: 16px;
         margin-top: 60px;
      }
      &__text-body {
         margin-bottom: 118px;
      }
   }
}

.slider-section-main {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 590px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   &__btns {
      display: flex;
      gap: 30px;
   }
   &__button-next {
      width: 79px;
      position: static;
      margin: 0;
      cursor: pointer;
      &::after {
         content: '';
      }
   }
   &__button-prev {
      width: 79px;
      position: static;
      margin: 0;
      cursor: pointer;
      &::after {
         content: '';
      }
   }
   &__item {
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   @media (max-width: 550px) {
      height: 605px;
   }
}
