<section class="news-list">
   <div class="container">
      <div class="news-list__wrapper">
         <!-- prettier-ignore -->
         @@include('../../components/news-page-item.html', {
				"img": "assets/img/pages/news/list-img1.jpg",
				"day": "22",
				"year": "декабря 2022",
				"title": "Компания GTHREES подводит итоги работы за 2018 год.",
				"text": "Создание благоприятной среды взаимопонимания и взаимоуважения всех участников цепочки поставок, соблюдая национальные и международные законы и правила, а также строгие этические принципы ведения бизнеса. Быть партнёром по росту и развитию для наших клиентов. Как логистическая компания, мы предлагаем эффективные решения...",
			})
         <!-- prettier-ignore -->
         @@include('../../components/news-page-item.html', {
				"img": "assets/img/pages/news/list-img2.jpg",
				"day": "23",
				"year": "декабря 2022",
				"title": "Компания GTHREES подводит итоги.",
				"text": "Быть партнёром по росту и развитию для наших клиентов. Как логистическая компания, мы предлагаем эффективные решения, основываясь на нашем опыте в следующих областях: транспортно-экспедиционное обслуживание клиентов. Наша компания предоставляет широкий спектр услуг по доставке грузов наземным, морским и воздушным транспортом...",
			})
         <!-- prettier-ignore -->
         @@include('../../components/news-page-item.html', {
				"img": "assets/img/pages/news/list-img3.jpg",
				"day": "31",
				"year": "декабря 2022",
				"title": "Компания GTHREES подводит итоги работы за 2018 год.",
				"text": "Быть партнёром по росту и развитию для наших клиентов. Как логистическая компания, мы предлагаем эффективные решения, основываясь на нашем опыте в следующих областях: транспортно-экспедиционное обслуживание клиентов. Наша компания предоставляет широкий спектр услуг по доставке грузов наземным, морским и воздушным транспортом...",
			})
         <!-- prettier-ignore -->
         @@include('../../components/news-page-item.html', {
				"img": "assets/img/pages/news/list-img4.jpg",
				"day": "1",
				"year": "января 2023",
				"title": "Компания GTHREES подводит итоги.",
				"text": "Быть партнёром по росту и развитию для наших клиентов. Как логистическая компания, мы предлагаем эффективные решения, основываясь на нашем опыте в следующих областях: транспортно-экспедиционное обслуживание клиентов. Наша компания предоставляет широкий спектр услуг по доставке грузов наземным, морским и воздушным транспортом...",
			})
      </div>
      <buttom class="news-list__btn">показать ещё</buttom>
   </div>
</section>
