<div class="map">
   <img src="/assets/img/Map.svg" alt="map" />

   <div class="map-dot map-dot-1">
      <div class="map-dot__sm map-dot__sm-dot-1">
         <img src="/assets/img/dot-sm.svg" alt="dot" />
      </div>
      <div class="map-dot__md map-dot__md-dot-1">
         <img src="/assets/img/dot-md.svg" alt="dot" />
      </div>
      <div class="map-dot__text right">
         <p class="map-dot__title">Доставили</p>
         <p class="map-dot__subtitle">145 т пильменей</p>
      </div>
   </div>
   <div class="map-dot map-dot-2">
      <div class="map-dot__sm map-dot__sm-dot-1">
         <img src="/assets/img/dot-sm.svg" alt="dot" />
      </div>
      <div class="map-dot__md map-dot__md-dot-1">
         <img src="/assets/img/dot-md.svg" alt="dot" />
      </div>
      <div class="map-dot__text left">
         <p class="map-dot__title">Получили</p>
         <p class="map-dot__subtitle">Положительный отзыв</p>
      </div>
   </div>
   <div class="map-dot map-dot-3">
      <div class="map-dot__sm map-dot__sm-dot-1">
         <img src="/assets/img/dot-sm.svg" alt="dot" />
      </div>
      <div class="map-dot__md map-dot__md-dot-1">
         <img src="/assets/img/dot-md.svg" alt="dot" />
      </div>
      <div class="map-dot__text right">
         <p class="map-dot__title">Отследили</p>
         <p class="map-dot__subtitle">Местоположение груза</p>
      </div>
   </div>
   <div class="map-dot map-dot-4">
      <div class="map-dot__sm map-dot__sm-dot-1">
         <img src="/assets/img/dot-sm.svg" alt="dot" />
      </div>
      <div class="map-dot__md map-dot__md-dot-1">
         <img src="/assets/img/dot-md.svg" alt="dot" />
      </div>
      <div class="map-dot__text left">
         <p class="map-dot__title">Доставили</p>
         <p class="map-dot__subtitle">145 т пильменей</p>
      </div>
   </div>
   <div class="map-dot map-dot-5">
      <div class="map-dot__sm map-dot__sm-dot-1">
         <img src="/assets/img/dot-sm.svg" alt="dot" />
      </div>
      <div class="map-dot__md map-dot__md-dot-1">
         <img src="/assets/img/dot-md.svg" alt="dot" />
      </div>
      <div class="map-dot__text left">
         <p class="map-dot__title">Загрузили</p>
         <p class="map-dot__subtitle">96 т памперсов</p>
      </div>
   </div>
</div>
