<section class="partners">
   <div class="container">
      <div class="partners__wrapper">
         <h2 class="partners__title section__title" data-aos="fade-up">
            Партнеры
         </h2>
         <div class="no-scroll">
            <p
               class="partners__text"
               data-aos="fade-left"
               data-aos-duration="700"
            >
               Благодаря тесному сотрудничеству с лучшими транспортными
               компаниями мы способны предложить качественный и эффективный
               логистический сервис, применяя индивидуальный подход к клиентам.
            </p>
         </div>

         <div class="partners__tabs partners-tabs">
            <ul>
               <li class="partners-tabs__tab active" data-tab="tab1">
                  <button class="partners-tabs__btn">Химия</button>
               </li>
               <li class="partners-tabs__tab" data-tab="tab2">
                  <button class="partners-tabs__btn">Машиностроение</button>
               </li>
               <li class="partners-tabs__tab" data-tab="tab3">
                  <button class="partners-tabs__btn">Металлургия</button>
               </li>
               <li class="partners-tabs__tab" data-tab="tab4">
                  <button class="partners-tabs__btn">Фармацевтика</button>
               </li>
               <li class="partners-tabs__tab" data-tab="tab5">
                  <button class="partners-tabs__btn">Продукты питания</button>
               </li>
               <li class="partners-tabs__tab" data-tab="tab6">
                  <button class="partners-tabs__btn">Строительство</button>
               </li>
               <li class="partners-tabs__tab" data-tab="tab7">
                  <button class="partners-tabs__btn">Деревообработка</button>
               </li>
               <li class="partners-tabs__tab" data-tab="tab8">
                  <button class="partners-tabs__btn">Одежда</button>
               </li>
            </ul>
            <div class="partners-tabs__content active" id="tab1">
               <div class="partners-tabs__content-grid">
                  <div class="partners-tabs__content-img partners-grid__item1">
                     <img src="/assets/img/partners/bg.jpg" alt="bg" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item2">
                     <img src="/assets/img/partners/img1.svg" alt="img1" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item3">
                     <img src="/assets/img/partners/img2.svg" alt="img2" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item4">
                     <img src="/assets/img/partners/img3.svg" alt="img3" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item5">
                     <img src="/assets/img/partners/img2.svg" alt="img4" />
                  </div>
                  <a
                     href="#"
                     class="partners-tabs__content-link partners-grid__item6"
                  >
                     <div
                        class="partners-tabs__content-link-text section__link"
                     >
                        <p>стать партнером</p>
                        <svg
                           width="16"
                           height="17"
                           viewBox="0 0 16 17"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 15.5L15 1.5M15 1.5H2.21739M15 1.5V14.2826"
                              stroke="#003B77"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </a>
               </div>
            </div>
            <div class="partners-tabs__content" id="tab2">
               <div class="partners-tabs__content-grid">
                  <div class="partners-tabs__content-img partners-grid__item1">
                     <img src="/assets/img/partners/bg.jpg" alt="bg" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item2">
                     <img src="/assets/img/partners/img1.svg" alt="img1" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item3">
                     <img src="/assets/img/partners/img2.svg" alt="img2" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item4">
                     <img src="/assets/img/partners/img3.svg" alt="img3" />
                  </div>
                  <div class="partners-tabs__content-img partners-grid__item5">
                     <img src="/assets/img/partners/img2.svg" alt="img4" />
                  </div>
                  <a
                     href="#"
                     class="partners-tabs__content-link partners-grid__item6"
                  >
                     <div
                        class="partners-tabs__content-link-text section__link"
                     >
                        <p>стать партнером</p>
                        <svg
                           width="16"
                           height="17"
                           viewBox="0 0 16 17"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 15.5L15 1.5M15 1.5H2.21739M15 1.5V14.2826"
                              stroke="#003B77"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
