<section class="news">
   <div class="container">
      <div class="news__wrapper">
         <h2 class="news__title section__title-white" data-aos="fade-up">
            Новости
         </h2>
         <div class="news__body">
            <div
               class="news__column-left"
               data-aos="fade-up"
               data-aos-duration="1500"
            >
               <ul class="news__list">
                  <li class="news__link">
                     <a href="#">
                        <p>
                           Как застрахован груз на международных грузоперевозках
                        </p>
                        <svg
                           width="16"
                           height="16"
                           viewBox="0 0 16 16"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 15L15 1M15 1L2.21739 1M15 1V13.7826"
                              stroke="#99FF99"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </a>
                  </li>
                  <li class="news__link">
                     <a href="#">
                        <p>
                           Как застрахован груз на международных грузоперевозках
                        </p>
                        <svg
                           width="16"
                           height="16"
                           viewBox="0 0 16 16"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 15L15 1M15 1L2.21739 1M15 1V13.7826"
                              stroke="#99FF99"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </a>
                  </li>
                  <li class="news__link">
                     <a href="#">
                        <p>
                           Как застрахован груз на международных грузоперевозках
                        </p>
                        <svg
                           width="16"
                           height="16"
                           viewBox="0 0 16 16"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 15L15 1M15 1L2.21739 1M15 1V13.7826"
                              stroke="#99FF99"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </a>
                  </li>
                  <li class="news__link">
                     <a href="#">
                        <p>
                           Как застрахован груз на международных грузоперевозках
                        </p>
                        <svg
                           width="16"
                           height="16"
                           viewBox="0 0 16 16"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                        >
                           <path
                              d="M1 15L15 1M15 1L2.21739 1M15 1V13.7826"
                              stroke="#99FF99"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           />
                        </svg>
                     </a>
                  </li>
               </ul>
               <a href="#" class="news__link-more section__link-white">
                  <p>все услуги</p>
                  <svg
                     width="16"
                     height="17"
                     viewBox="0 0 16 17"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        d="M1 15.5L15 1.5M15 1.5H2.21739M15 1.5V14.2826"
                        stroke="#99FF99"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                     />
                  </svg>
               </a>
            </div>
            <div class="news__img" data-aos="fade-up" data-aos-duration="1500">
               <img src="/assets/img/news/Image.jpg" alt="news-img" />
            </div>
         </div>
      </div>
   </div>
</section>
