.map {
   position: relative;
}
.map-dot {
   position: absolute;
   width: 34px;
   height: 34px;
   &__sm {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      img {
         position: absolute;
      }
   }

   &__md {
      width: 34px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
   }
   &__text {
      position: absolute;
      top: -44px;
      left: 17px;
      box-shadow: 0 2px 8px 0 rgba(76, 123, 135, 0.2);
      background: var(--white);
      padding: 8px 12px;
      border-radius: 6px 6px 6px 0;
      white-space: nowrap;
      opacity: 0;
      &.right {
      }
      &.left {
      }
   }
   &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: var(--text-body);
      margin-bottom: 4px;
   }
   &__subtitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: var(--gray-5);
   }
}
.map-dot-1 {
   top: 27%;
   right: 39%;
}
.map-dot-2 {
   bottom: 21%;
   right: 17%;
   @media (max-width: 980px) {
      display: none;
   }
}
.map-dot-3 {
   bottom: 15.6%;
   left: 29.6%;
}
.map-dot-4 {
   top: 18%;
   left: 9%;
}
.map-dot-5 {
   top: 50%;
   left: 47%;
}
