<section class="services-our-services">
   <div class="container">
      <div class="services-our-services__wrapper">
         <h3 class="services-our-services__title section__title">
            Наши услуги
         </h3>
         <div class="services-our-services__grid">
            <!-- prettier-ignore -->
            @@include('../../components/services-grid-item.html', {
					"title": "Авиаперевозки",
					"img": "assets/img/pages/services/grid-img1.jpg"
				})
            <!-- prettier-ignore -->
            @@include('../../components/services-grid-item.html', {
					"title": "Автомобильные перевозки",
					"img": "assets/img/pages/services/grid-img2.jpg"
				})
            <!-- prettier-ignore -->
            @@include('../../components/services-grid-item.html', {
					"title": "Мультимодальные перевозки",
					"img": "assets/img/pages/services/grid-img3.jpg"
				})
            <!-- prettier-ignore -->
            @@include('../../components/services-grid-item.html', {
					"title": "Железнодорожные перевозки",
					"img": "assets/img/pages/services/grid-img4.jpg"
				})
            <!-- prettier-ignore -->
            @@include('../../components/services-grid-item.html', {
					"title": "Перевозки тяжеловесных и негабаритных грузов",
					"img": "assets/img/pages/services/grid-img5.jpg"
				})
            <!-- prettier-ignore -->
            @@include('../../components/services-grid-item.html', {
					"title": "Перевозки опасных грузов",
					"img": "assets/img/pages/services/grid-img6.jpg"
				})
         </div>
      </div>
   </div>
</section>
