<section class="description-service">
   <div class="container">
      <div class="description-service__wrapper">
         <h3 class="description-service__title section__title">
            Описание услуги
         </h3>
         <div class="description-service__text">
            <p>
               Авиасообщением ежегодно перевозится более 54 млн тонн грузов.
               По данным ICAO рост грузопотока авиатранспортом ежегодно
               составляет 3,8%, что показывает прямую зависимость роста мирового
               ВВП и количества перевозимого груза авиасообщением.
               Также отмечается, что 80% всех авиаперевозок осуществляется
               по восточно-западному торговому коридору, соединяющему Азию
               с Европой, Азию с Северной Америкой и Европу с Северной Америкой.
            </p>
            <p>
               Среди наших клиентов существует постоянная потребность в доставке
               грузов авиасообщением. Поэтому для оказания полного комплекса
               логистических услуг нами было принято решение открыть направление
               авиаперевозок.
            </p>
         </div>
      </div>
   </div>
</section>
