<section class="detailed-serv-about">
   <div class="container">
      <div class="detailed-serv-about__wrapper">
         <h3 class="detailed-serv-about__title section__title">О компании</h3>
         <div class="detailed-serv-about__columns">
            <div class="detailed-serv-about__column">
               <h4>Видение Джитрис</h4>
               <p>
                  Быть партнёром по росту и развитию для наших клиентов.
                  Как логистическая компания, мы предлагаем эффективные решения,
                  основываясь на нашем опыте в следующих областях:
                  транспортно-экспедиционное обслуживание клиентов, контрактная
                  логистика и оптимизация цепочек поставок.
               </p>
               <p>
                  Наша компания предоставляет широкий спектр услуг по доставке
                  грузов наземным, морским и воздушным транспортом, складской
                  обработке и страхованию грузов. Основываясь на глубоком
                  понимании специфики различных отраслей, мы применяем
                  индивидуальный подход к потребностям наших клиентов в области
                  логистики
               </p>
            </div>
            <div class="detailed-serv-about__column">
               <h4>Цель Джитрис</h4>
               <p>
                  Создание благоприятной среды взаимопонимания и взаимоуважения
                  всех участников цепочки поставок, соблюдая национальные
                  и международные законы и правила, а также строгие этические
                  принципы ведения бизнеса.
               </p>
               <p>
                  Наше видение и цель неразрывно связаны с постоянным
                  стремлением к улучшению и оптимизации на протяжении всего
                  жизненного цикла компании, что является ключевым элементом
                  системы корпоративных ценностей.
               </p>
            </div>
         </div>
         @@include('../../components/map.html')
      </div>
   </div>
</section>
