<section class="we-offer">
   <div class="container">
      <div class="we-offer__wrapper">
         <h3 class="we-offer__title section__title">Мы предлагаем</h3>
         <div class="we-offer__gred">
            <div class="we-offer-grid-item">
               <p>Обещанное время доставки</p>
            </div>
            <div class="we-offer-grid-item we-offer-grid-item--img">
               <div>
                  <img
                     src="assets/img/pages/detailed-services/grid1.jpg"
                     alt="img"
                  />
               </div>
            </div>
            <div class="we-offer-grid-item">
               <p>Стандартизированная цена всё включено</p>
            </div>
            <div class="we-offer-grid-item we-offer-grid-item--img">
               <div>
                  <img
                     src="assets/img/pages/detailed-services/grid2.jpg"
                     alt="img"
                  />
               </div>
            </div>
            <div class="we-offer-grid-item">
               <p>Агентские соглашения с членами IATA</p>
            </div>
            <div class="we-offer-grid-item">
               <p>Страхование грузов</p>
            </div>
            <div class="we-offer-grid-item">
               <p>Таможенное оформление с помощью наших партнеров</p>
            </div>
            <div class="we-offer-grid-item">
               <p>Чартерные рейсы</p>
            </div>
            <div class="we-offer-grid-item we-offer-grid-item--img">
               <div>
                  <img
                     src="assets/img/pages/detailed-services/grid3.jpg"
                     alt="img"
                  />
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
