.footer {
   padding-top: 140px;
   padding-bottom: 42px;
   background-image: url('../assets/img/map-gost.svg'),
      url('../assets/img/news/bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   &_conection {
   }

   &__wrapper {
   }

   &__title {
      margin-bottom: 60px;
   }

   &__subscribe {
   }

   &__copyright {
   }
   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      padding-top: 79px;
      &__title {
         margin-bottom: 40px;
      }
   }
}
.foote-conection {
   margin-bottom: 200px;
   &__body {
      display: flex;
      justify-content: space-between;
   }

   &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 36px;
      line-height: 140%;
      color: var(--white);
      max-width: 590px;
      span {
         color: var(--accent-2);
      }
   }

   &__form {
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__body {
         display: block;
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 59px;
      &__title {
         font-size: 22px;
         margin-bottom: 75px;
      }
   }
}
.footer-form {
   max-width: 718px;
   width: 100%;
   &__columns {
      display: flex;
      gap: 20px;
   }

   &__column {
      flex: 1;
      max-width: 100%;
   }

   &__input-wrapper {
      border-bottom: 1px solid var(--white);
      margin-bottom: 60px;
      max-width: 350px;
      width: 100%;
      input {
         outline: none;
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 16px;
         line-height: 140%;
         color: #ffffff;
         width: 100%;
         &::placeholder {
            color: #b3bccc;
         }
      }
   }

   &__select-wrapper {
      position: relative;
      border-bottom: 1px solid var(--white);

      select {
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 16px;
         line-height: 140%;
         color: var(--white);
         background: none;
         outline: none;
         border: none;
         appearance: none;
         width: 100%;
         cursor: pointer;
         option {
            color: var(--gray-4);
         }
      }
      label {
         position: absolute;
         top: -20px;
         left: 0;
         font-family: var(--font-family);
         font-weight: 500;
         font-size: 12px;
         line-height: 140%;
         color: #b3bccc;
      }
      svg {
         position: absolute;
         top: 50%;
         right: 0;
         transform: translateY(-50%);
      }
   }
   &__textarea-wrapper {
      position: relative;
      border-bottom: 1px solid var(--white);
      margin-bottom: 40px;
      textarea {
         resize: none;
         overflow: hidden;
         outline: none;
         height: 1.5em;
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5em;
         color: #ffffff;
         width: 100%;
         padding: 5px;
         &::placeholder {
            color: #b3bccc;
         }
      }
   }

   &__btn {
      margin-left: auto;
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      &__columns {
         display: block;
      }
      &__input-wrapper {
         max-width: 100%;
         padding-bottom: 6px;
         margin-bottom: 54px;
      }
      &__select-wrapper {
         padding-bottom: 5px;
      }
      &__column {
         margin-bottom: 60px;
      }
      &__btn {
         margin-left: 0;
      }
   }
}
.footer-subscribe {
   border-bottom: 1px solid var(--white);
   padding-bottom: 26px;
   margin-bottom: 42px;
   &__columns {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child {
         align-items: flex-start;
      }
      &:last-child {
         align-items: flex-end;
      }
   }

   &__title-green {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--accent-2);
      margin-bottom: 9px;
   }

   &__link-sm {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: var(--gray-2);
   }

   &__title-white {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--white);
      margin-bottom: 14px;
   }

   &__link-md {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 36px;
      line-height: 140%;
      color: var(--gray-2);
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__columns {
         flex-direction: column;
      }
      &__column {
         flex-direction: column;

         align-items: flex-start;
         &:first-child {
            align-items: flex-start;
            order: 2;
         }
         &:last-child {
            align-items: flex-start;
         }
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 10px;
      &__columns {
         align-items: flex-start;
      }
      &__column {
         &:not(:last-child, :first-child) {
            flex-direction: column-reverse;
            align-items: flex-start;
         }

         align-items: flex-start;
         &:first-child {
            align-items: flex-start;
            order: 2;
            margin-bottom: 33px;
         }
         &:last-child {
            align-items: flex-start;
            margin-bottom: 33px;
         }
      }
      &__link-md {
         font-size: 32px;
         line-height: 140%;
         margin-bottom: 32px;
      }
      &__title-white {
         margin-bottom: 40px;
      }
   }
}
.footer-copyright {
   display: flex;
   justify-content: space-between;
   font-family: var(--second-family);
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   color: var(--white);
   align-items: center;
   div {
      display: flex;
      p {
         margin-right: 13px;
      }
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      flex-direction: column;
      align-items: center;
   }
}
