<section class="achievements">
   <div class="container">
      <div class="achievements__wrapper">
         <h2 class="achievements__title section__title" data-aos="fade-up">
            Наши достижения
         </h2>
         <div class="achievements__columns">
            <div
               class="achievements__column achievements-column"
               data-aos="fade-up"
               data-aos-duration="700"
            >
               <h4 class="achievements-column__title">Частота загрузок</h4>
               <div class="achievements-column__subtitle">
                  <span class="achievements-column__number">61</span>
                  <p>мин.</p>
               </div>
            </div>
            <div
               class="achievements__column achievements-column"
               data-aos="fade-up"
               data-aos-duration="900"
            >
               <h4 class="achievements-column__title">Грузов перевезено</h4>
               <div class="achievements-column__subtitle">
                  <span class="achievements-column__number">287</span>
                  <p>тыс.</p>
               </div>
            </div>
            <div
               class="achievements__column achievements-column"
               data-aos="fade-up"
               data-aos-duration="1200"
            >
               <h4 class="achievements-column__title">Количество партнёров</h4>
               <div class="achievements-column__subtitle">
                  <span class="achievements-column__number">3 165</span>
               </div>
            </div>
            <div
               class="achievements__column achievements-column"
               data-aos="fade-up"
               data-aos-duration="1400"
            >
               <h4 class="achievements-column__title">Пройденное расстояние</h4>
               <div class="achievements-column__subtitle">
                  <span class="achievements-column__number">42</span>
                  <p>млн. км</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
