<section class="questions">
   <div class="container">
      <div class="questions__wrapper">
         <h2 class="questions__title section__title" data-aos="fade-up">
            Часто спрашивают
         </h2>
         <div
            class="questions__accordion questions-accordion"
            data-aos="fade-right"
            data-aos-duration="1000"
         >
            <div class="questions-accordion__item">
               <button class="questions-accordion__btn">
                  <p>Как застрахован груз на международных грузоперевозках?</p>
                  <svg
                     width="16"
                     height="16"
                     viewBox="0 0 16 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        d="M1 15L15 1M15 1H2.21739M15 1V13.7826"
                        stroke="#003B77"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                     />
                  </svg>
               </button>
               <p class="questions-accordion__text">
                  Наша компания работает на рынке пять лет и за это время мы
                  разработали чётко отлаженные подходы и стандарты по перевозки
                  грузов любым видом транспорта в любом направлении. При этом
                  всегда учитываются все требования и выдвигаемые условия
                  каждого клиента. Наши специалисты используют индивидуальный
                  подход к каждому клиенту и поэтому все нюансы выясняются еще
                  на стадии оформления заявки на оказание услуги и
                  предварительных консультаций в удаленном режиме.
                  Осуществляются грузоперевозки исключительно в соответствии с
                  законодательными нормами, с составлением договора, имеющего
                  юридическую силу.
               </p>
            </div>
            <div class="questions-accordion__item">
               <button class="questions-accordion__btn">
                  <p>Как застрахован груз на международных грузоперевозках?</p>
                  <svg
                     width="16"
                     height="16"
                     viewBox="0 0 16 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        d="M1 15L15 1M15 1H2.21739M15 1V13.7826"
                        stroke="#003B77"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                     />
                  </svg>
               </button>
               <p class="questions-accordion__text">
                  Наша компания работает на рынке пять лет и за это время мы
                  разработали чётко отлаженные подходы и стандарты по перевозки
                  грузов любым видом транспорта в любом направлении. При этом
                  всегда учитываются все требования и выдвигаемые условия
                  каждого клиента. Наши специалисты используют индивидуальный
                  подход к каждому клиенту и поэтому все нюансы выясняются еще
                  на стадии оформления заявки на оказание услуги и
                  предварительных консультаций в удаленном режиме.
                  Осуществляются грузоперевозки исключительно в соответствии с
                  законодательными нормами, с составлением договора, имеющего
                  юридическую силу.
               </p>
            </div>
            <div class="questions-accordion__item">
               <button class="questions-accordion__btn">
                  <p>Как застрахован груз на международных грузоперевозках?</p>
                  <svg
                     width="16"
                     height="16"
                     viewBox="0 0 16 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        d="M1 15L15 1M15 1H2.21739M15 1V13.7826"
                        stroke="#003B77"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                     />
                  </svg>
               </button>
               <p class="questions-accordion__text">
                  Наша компания работает на рынке пять лет и за это время мы
                  разработали чётко отлаженные подходы и стандарты по перевозки
                  грузов любым видом транспорта в любом направлении. При этом
                  всегда учитываются все требования и выдвигаемые условия
                  каждого клиента. Наши специалисты используют индивидуальный
                  подход к каждому клиенту и поэтому все нюансы выясняются еще
                  на стадии оформления заявки на оказание услуги и
                  предварительных консультаций в удаленном режиме.
                  Осуществляются грузоперевозки исключительно в соответствии с
                  законодательными нормами, с составлением договора, имеющего
                  юридическую силу.
               </p>
            </div>
            <div class="questions-accordion__item">
               <button class="questions-accordion__btn">
                  <p>Как застрахован груз на международных грузоперевозках?</p>
                  <svg
                     width="16"
                     height="16"
                     viewBox="0 0 16 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <path
                        d="M1 15L15 1M15 1H2.21739M15 1V13.7826"
                        stroke="#003B77"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                     />
                  </svg>
               </button>
               <p class="questions-accordion__text">
                  Наша компания работает на рынке пять лет и за это время мы
                  разработали чётко отлаженные подходы и стандарты по перевозки
                  грузов любым видом транспорта в любом направлении. При этом
                  всегда учитываются все требования и выдвигаемые условия
                  каждого клиента. Наши специалисты используют индивидуальный
                  подход к каждому клиенту и поэтому все нюансы выясняются еще
                  на стадии оформления заявки на оказание услуги и
                  предварительных консультаций в удаленном режиме.
                  Осуществляются грузоперевозки исключительно в соответствии с
                  законодательными нормами, с составлением договора, имеющего
                  юридическую силу.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
