<section class="services">
   <div class="container">
      <div class="services__wrapper">
         <div class="services__svg-title section__svg-title" data-aos="fade-up">
            <img src="/assets/img/icons/Title.svg" alt="gthrees" />
         </div>
         <h2 class="services__title section__title-white" data-aos="fade-up">
            Наши услуги
         </h2>
         <div class="no-scroll">
            <p
               class="services__text"
               data-aos="fade-left"
               data-aos-duration="700"
            >
               Мы предлагаем высококачественный и эффективный логистический
               сервис, применяя индивидуальный подход к каждому нашему клиенту.
            </p>
         </div>

         <div class="services__link section__link-white">
            <p>все услуги</p>
            <svg
               width="16"
               height="17"
               viewBox="0 0 16 17"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
            >
               <path
                  d="M1 15.5L15 1.5M15 1.5H2.21739M15 1.5V14.2826"
                  stroke="#99FF99"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
               />
            </svg>
         </div>

         <div class="slider-services__wrapper">
            <div class="swiper slider-services">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div class="slider-services__item">
                        <img
                           src="/assets/img/services-slider/img1.jpg"
                           alt="services-img1"
                        />
                        <p class="slider-services__item-title">Авиаперевозки</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="slider-services__item">
                        <img
                           src="/assets/img/services-slider/img2.jpg"
                           alt="services-img2"
                        />
                        <p class="slider-services__item-title">
                           Автомобильные перевозки
                        </p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="slider-services__item">
                        <img
                           src="/assets/img/services-slider/img3.jpg"
                           alt="services-img3"
                        />
                        <p class="slider-services__item-title">
                           Железнодорожные перевозки
                        </p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="slider-services__item">
                        <img
                           src="/assets/img/services-slider/img4.jpg"
                           alt="services-img4"
                        />
                        <p class="slider-services__item-title">
                           Мультимодальные перевозки
                        </p>
                     </div>
                  </div>

                  <div class="swiper-slide">
                     <div class="slider-services__item">
                        <img
                           src="/assets/img/services-slider/img3.jpg"
                           alt="services-img3"
                        />
                        <p class="slider-services__item-title">
                           Железнодорожные перевозки
                        </p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="slider-services__item">
                        <img
                           src="/assets/img/services-slider/img4.jpg"
                           alt="services-img4"
                        />
                        <p class="slider-services__item-title">
                           Мультимодальные перевозки
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-scrollbar slider-services__scrollbar"></div>
         </div>
      </div>
   </div>
</section>
