<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer_conection foote-conection">
            <h2 class="footer__title section__title-white" data-aos="fade-up">
               Связаться с нами
            </h2>
            <div class="foote-conection__body">
               <h4
                  class="foote-conection__title"
                  data-aos="fade-up"
                  data-aos-duration="1000"
               >
                  Оставьте заявку и наш менеджер свяжется с вами
                  <span>в ближайшее время</span>
               </h4>
               <form action="#" class="foote-conection__form footer-form">
                  <div class="footer-form__columns">
                     <div class="footer-form__column">
                        <div class="footer-form__input-wrapper">
                           <label for="name"></label>
                           <input type="text" id="name" placeholder="ФИО" />
                        </div>
                        <div class="footer-form__input-wrapper">
                           <label for="mail"></label>
                           <input type="text" id="mail" placeholder="E-mail" />
                        </div>
                     </div>
                     <div class="footer-form__column">
                        <div class="footer-form__input-wrapper">
                           <label for="phone"></label>
                           <input
                              type="text"
                              id="phone"
                              placeholder="Телефон"
                           />
                        </div>
                        <div class="footer-form__select-wrapper">
                           <label for="service">Услуга</label>
                           <svg
                              width="12"
                              height="8"
                              viewBox="0 0 12 8"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                           >
                              <path
                                 d="M1.41 0.5L6 4.82659L10.59 0.5L12 1.83198L6 7.5L0 1.83198L1.41 0.5Z"
                                 fill="white"
                              />
                           </svg>
                           <select name="service" id="service">
                              <option value="auto">автоперевозки</option>
                              <option value="auto1">автопереsdвозки</option>
                              <option value="auto3">автопереsdвозки</option>
                              <option value="auto4">ав23топеревозки</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="footer-form__textarea-wrapper">
                     <label for="message"></label>
                     <textarea id="message" placeholder="Сообщение"></textarea>
                  </div>

                  <button class="footer-form__btn section__link-white">
                     <p>отправить заявку</p>
                     <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <path
                           d="M1 15.5L15 1.5M15 1.5H2.21739M15 1.5V14.2826"
                           stroke="#99FF99"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                        />
                     </svg>
                  </button>
               </form>
            </div>
         </div>
         <div class="footer__subscribe footer-subscribe">
            <div class="footer-subscribe__columns">
               <div class="footer-subscribe__column">
                  <span class="footer-subscribe__title-green"
                     >Для сотрудничества:</span
                  >
                  <a href="#" class="footer-subscribe__link-sm"
                     >info@gthrees.com</a
                  >
               </div>
               <div class="footer-subscribe__column">
                  <span class="footer-subscribe__title-white">подписаться</span>
                  <a href="#" class="footer-subscribe__link-md"
                     >+375(17)252-22-25</a
                  >
               </div>
               <div class="footer-subscribe__column">
                  <span class="footer-subscribe__title-green"
                     >Отдел продаж:</span
                  >
                  <a href="#" class="footer-subscribe__link-sm"
                     >sales@gthrees.com</a
                  >
               </div>
            </div>
         </div>
         <div class="footer__copyright footer-copyright">
            <p>© 2023, GTHREES</p>
            <div>
               <p>Разработано в</p>
               <a href="#">
                  <img src="/assets/img/footer/LikeIt.svg" alt="logo" />
               </a>
            </div>
         </div>
      </div>
   </div>
</footer>
