.about-superiors {
   background: var(--gray-1);
   padding-bottom: 5px;
   padding-top: 140px;
   &__title {
      margin-bottom: 60px;
   }
   &__subtitle {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 48px;
      line-height: 140%;
      color: var(--white);
      max-width: 350px;
      margin-bottom: 60px;
   }

   &__body {
      overflow-x: hidden;
      position: relative;
      display: flex;
      min-height: 700px;
      margin-bottom: 140px;
   }

   &__img {
      position: relative;
      max-width: 615px;
      width: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__info {
      background-color: #09325b;
      background-image: linear-gradient(
         135deg,
         #09325b 0%,
         rgba(69, 99, 233, 0.3) 100%
      );

      padding: 120px 20px 20px 20px;
   }

   &__text {
      position: relative;
      max-width: 816px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--white);
      margin-left: 57px;
      span {
         position: absolute;
         top: 0;
         left: -39px;
         font-family: var(--font-family);
         font-weight: 500;
         font-size: 80px;
         line-height: 140%;
         color: var(--white);
      }
   }

   &__post {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      color: var(--white);
      max-width: 200px;
      position: absolute;
      top: 85%;
      left: 7%;
   }

   &__annotation {
      position: relative;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      color: var(--white);
      position: absolute;
      top: 4%;
      left: 71%;
      max-width: 1021px;
      width: 100%;
      &::after {
         content: '';
         position: absolute;
         top: 30px;
         left: 0;
         max-width: 1021px;
         width: 100%;
         height: 1px;
         background-color: var(--gray-2);
      }
   }
   @media (max-width: 1750px) {
      &__info {
         padding: 120px 130px 20px 10px;
      }
      &__text {
         span {
         }
      }
   }

   @media (max-width: 1024px) {
      &__body {
         flex-direction: column;
      }
      &__img {
         max-width: 100%;
      }
      &__images {
         flex-wrap: wrap-reverse;
         justify-content: end;
      }
      &__img {
         border-radius: 4px;
         overflow: hidden;
      }
      &__text {
         width: 70%;
      }
      &__info {
         margin-top: -10px;
         padding: 25px 20px 20px 20px;
      }
      &__annotation {
         left: 52%;
      }
      &__post {
         top: 83%;
         left: 6%;
         font-size: 18px;
      }
   }
   @media (max-width: 550px) {
      padding-top: 80px;

      &__title {
         margin-bottom: 40px;
      }
      &__text {
         margin-left: 0;
         width: 100%;
         h3 {
            font-size: 18px;
            margin-bottom: 25px;
         }
         p {
            font-size: 14px;
         }
         span {
            top: -41px;
            left: -13px;
            font-size: 60px;
         }
      }
      &__images {
         margin-bottom: 25px;
      }
      &__img--big {
         max-width: 312px;
         height: 168px;
         margin-right: auto;
      }
      &__img--small {
         max-width: 156px;
         height: 128px;
      }
      &__text--bottom {
         margin-bottom: 80px;
      }
      &__subtitle {
         font-size: 36px;
         margin-bottom: 37px;
      }
      &__body {
         margin-bottom: 80px;
      }
   }
}
