<section class="selected-news">
   <div class="container">
      <div class="selected-news__wrapper">
         <!--prettier-ignore-->
         @@include('../../components/link.html', {"text": "все новости", "className": "selected-news__link"})

         <div class="selected-news__body">
            <div class="selected-news__info">
               <h4>Компания GTHREES подводит итоги работы за 2018 год.</h4>
               <div class="selected-news__date">
                  <span>22 </span>
                  &nbsp;
                  <p>декабря 2022</p>
               </div>
            </div>
            <div class="selected-news__content">
               <div class="selected-news__img">
                  <img
                     src="assets/img/pages/detailed-news/Image.jpg"
                     alt="img"
                  />
               </div>
               <p>ЕАЭС: шаги навстречу бизнесу</p>
               <p>
                  В интервью нашему изданию член Коллегии (Министр) по
                  конкуренции и антимонопольному регулированию Евразийской
                  экономической комиссии Марат Кусаинов отметил, что усиление
                  взаимодействия с деловым сообществом в контексте защиты
                  конкуренции на трансграничных рынках ЕАЭС – одна из ключевых
                  задач наднационального антимонопольного органа.
               </p>
               <p>
                  – Марат Апсеметович, расскажите об основных приоритетах в
                  работе блока по конкуренции и антимонопольному регулированию
                  Евразийской экономической комиссии?
               </p>

               <p>
                  – Наши приоритеты базируются на целях евразийской интеграции.
                  Это - снятие внутренних барьеров на пути движения товаров,
                  услуг, капиталов и рабочей силы, углубление экономического
                  взаимодействия и формирование общих рынков, экономические
                  дивиденды всем участникам интеграционного объединения, в том
                  числе новые возможности для роста благосостояния наших
                  граждан. В этом контексте обеспечение защиты конкуренции на
                  общем рынке – одна из первостепенных задач.
               </p>
               <p>– Какие итоги работы за минувший год можете подвести?</p>
               <p>
                  – Мы перешли к практической реализации полномочий,
                  закрепленных за ЕЭК в сфере антимонопольного регулирования, то
                  есть начали первые расследования по нарушениям правил
                  конкуренции, возбудили несколько дел, одно из которых
                  завершили. Также мы провели большую работу по
                  совершенствованию законодательства. Речь идет о внедрении в
                  право ЕАЭС профилактических и предупредительных инструментов
                  антимонопольного реагирования, необходимых для полноценной
                  работы Комиссии. Подчеркну, что эта работа выполняется
                  совместно с конкурентными ведомствами стран ЕАЭС.
               </p>
               <p>
                  Одновременно мы продолжаем важную и необходимую
                  разъяснительную работу. При этом внедряя новые форматы
                  взаимодействия.
               </p>
               <p>
                  – Просьба разъяснить - в чем компетенция Комиссии в сфере
                  защиты конкуренции. Ведь есть же антимонопольные органы стран
                  ЕАЭС, и они тоже активно работают…
               </p>
               <p>
                  – Полномочия ЕЭК и национальных конкурентных ведомств четко
                  разграничены. Все, что не выходит за пределы одного
                  государства, контролируют национальные органы. Если нарушения
                  правил конкуренции затронули рынки двух и более государств
                  союза, то есть трансграничные рынки, то это поле нашей
                  деятельности. Приведу понятный пример. К примеру, крупный
                  поставщик занимает доминирующее положение – не менее 35% доли
                  рынка на территории двух и более государств. Если он
                  выставляет покупателю одной из стран другие, худшие, условия,
                  то, значит, злоупотребляет своим положением. В таком случае
                  действия продавца – прямое нарушение правил конкуренции.
               </p>
               <p>
                  – Какие действия предпринимателей на трансграничных рынках
                  ЕАЭС нелегитимны? Какие нарушения пресекает Комиссия?
               </p>
               <p>
                  – Нарушения, которые пресекает ЕЭК, это - злоупотребление
                  доминирующим положением, недобросовестная конкуренция,
                  «вертикальные», «горизонтальные» и иные антиконкурентные
                  соглашения хозяйствующих субъектов, координация экономической
                  деятельности, ограничивающая конкуренцию.
               </p>
               <p>
                  – Сколько нарушений выявлены Комиссией за минувший год? Какие
                  дела, расследования сейчас в работе?
               </p>
               <p>
                  – За год по поступившим заявлениям и по собственной инициативе
                  мы начали 12 расследований. По их итогам возбудили 5 дел. Они
                  касаются нарушений правил конкуренции на рынках
                  трансформаторной стали, авиаперевозок, цельнокатаных колес,
                  шин для легковых автомобилей, металлоконструкций. Одно из дел
                  мы завершили. По второму (поставка металлоконструкций)
                  нарушение не подтвердилось. По трем эпизодам продолжаем
                  работу.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
