:root {
   --accent-1: #003b77;
   --accent-2: #9f9;
   --text-body: #111827;
   --white: #fff;
   --gray-1: #f3f3f3;
   --gray-2: #d1d5db;
   --gray-3: #9ca3af;
   --gray-4: #6b7280;
   --gray-5: #4b5563;
}
:root {
   --font-family: 'Montserrat', sans-serif;
   --second-family: 'Open Sans', sans-serif;
   --third-family: 'Inter', sans-serif;
}

button {
   cursor: pointer;
}
.section {
   &__svg-title {
   }

   &__link-white {
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
         font-family: var(--font-family);
         font-weight: 500;
         font-size: 18px;
         line-height: 140%;
         text-transform: uppercase;
         text-decoration: underline;
         text-decoration-skip-ink: none;
         color: var(--white);
         margin-right: 10px;
         transition: all 0.3s;
      }
      &:hover p {
         color: rgba(153, 255, 153, 0.623);
      }
   }
   &__link {
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
         font-family: var(--font-family);
         font-weight: 500;
         font-size: 18px;
         line-height: 140%;
         text-transform: uppercase;
         text-decoration: underline;
         text-decoration-skip-ink: none;
         color: var(--accent-1);
         margin-right: 10px;
         transition: all 0.3s;
      }
      &:hover p {
         color: rgba(153, 255, 153, 0.623);
      }
   }

   &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 52px;
      line-height: 140%;
      color: var(--accent-1);
      @media (max-width: 600px) {
         font-size: 36px;
      }
   }

   &__title-white {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 52px;
      line-height: 140%;
      color: var(--white);
      @media (max-width: 600px) {
         font-size: 36px;
      }
   }
}
// html,
// body {
//    overflow-x: hidden;
//    width: 100%;
// }
.no-scroll {
   overflow-x: hidden;
}
body {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 24px;
   line-height: 140%;
   color: var(--text-body);
}

.container {
   max-width: 1496px;
   margin: 0 auto;
   padding: 0 20px;
}

.header {
   margin-bottom: 130px;
   &__wrapper {
      display: flex;
      align-items: center;
      nav {
         margin-left: auto;
      }
   }

   &__list {
      display: flex;
   }

   &__link {
      position: relative;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--text-body);
      margin-right: 40px;
      &:hover a,
      &:hover path {
         color: var(--accent-1);
         fill: var(--accent-1);
      }
      a {
         display: flex;
         align-items: center;
         transition: all 0.3s;
         p {
            margin-right: 4px;
         }
      }
      &:hover .header__dropdown-list {
         transform: translateY(0);
         opacity: 1;
         z-index: 1;
      }
   }

   &__dropdown-list {
      position: absolute;
      top: 22px;
      left: 0;
      z-index: 1;
      width: max-content;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 0 2px 8px 0 rgba(76, 123, 135, 0.2);
      background-color: var(--white);
      transform: translateY(30%);
      opacity: 0;
      z-index: -1;
      transition: all 0.2s;
   }

   &__dropdown-link {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--text-body);
      padding: 10px;
      transition: all 0.3s;
      cursor: pointer;
      &:not(:last-child) {
         border-bottom: 0.5px solid var(--gray-2);
      }
      &:hover {
         background: var(--gray-1);
      }
   }

   &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 28px 51px;
      background-color: var(--accent-1);
      margin-right: 40px;
      p {
         font-family: var(--font-family);
         font-weight: 700;
         font-size: 16px;
         line-height: 140%;
         text-transform: uppercase;
         color: var(--white);
         margin-right: 20px;
      }
   }

   &__burger {
   }

   @media (max-width: 1250px) {
      &__logo {
         margin-top: 5px;
         width: 167px;
      }
      &__button {
         padding: 13px 20px;
         margin-right: 20px;
      }
      &__link {
         margin-right: 20px;
      }
   }
   @media (max-width: 1024px) {
      &__list {
         display: none;
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 65px;
      &__button {
         display: none;
      }
   }
}
.burger-menu.active {
   transform: translateY(0);
}
.burger-menu {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   transition: all 0.3s;
   transform: translateY(-200%);
   width: 100%;
   height: 100vh;
   background-color: var(--accent-1);
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 18px;
   line-height: 140%;
   text-transform: uppercase;
   color: var(--white);
   overflow: auto;

   &__btn {
      position: absolute;
      top: 20px;
      right: 75px;
      border-radius: 100%;
      width: 46px;
      height: 46px;
      border: 2px solid var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__body {
   }

   &__header {
      padding-bottom: 50px;
      padding-right: 217px;
      padding-top: 190px;
      margin-bottom: 80px;
      border-bottom: 0.5px solid var(--gray-4);
      overflow: hidden;
   }

   &__header-columns {
      display: flex;
      justify-content: space-between;
   }

   &__header-column {
   }

   &__footer {
      padding-right: 211px;
   }

   &__footer-title {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 34px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--white);
      margin-bottom: 40px;
   }

   &__footer-columns {
      display: flex;
      justify-content: space-between;
   }

   &__footer-column {
      span {
         font-weight: 400;
         color: var(--accent-2);
         margin-bottom: 8px;
      }
   }

   &__footer-column-title {
      margin-bottom: 30px;
   }

   &__footer-column-item {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
   }
   &__footer-contacts--sm {
      display: none;
   }

   @media (max-width: 1250px) {
      &__header {
         padding-right: 0px;
      }
      &__footer {
         padding-right: 0px;
      }
   }
   @media (max-width: 1024px) {
      &__footer-columns {
         display: block;
      }
      &__header-columns {
         display: block;
      }
   }
   @media (max-width: 550px) {
      &__footer-columns {
         display: none;
      }
      &__footer-contacts--sm {
         display: block;
         font-family: var(--font-family);
         font-weight: 600;
         font-size: 16px;
         line-height: 140%;
         text-transform: uppercase;
         color: var(--white);
      }
      &__footer-phone--sm {
         display: block;
         font-weight: 400;
         font-size: 24px;
         line-height: 140%;
         margin-bottom: 20px;
      }
      &__footer-social-icons--sm {
         display: flex;
         margin-bottom: 24px;
         li {
            margin-right: 20px;
         }
      }
      &__footer-social-links--sm {
         display: flex;
         li {
            margin-right: 30px;
         }
      }
   }
}
.burger-button {
   position: relative;
   width: 48px;
   height: 26px;

   &__line {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 48px;
      height: 2px;
      background-color: var(--accent-1);
      transition: all 0.3s;
   }
   &__line:first-child {
      top: 0;
      left: 100%;
      transform: translateX(-100%);
      width: 33px;
   }
   &__line:last-child {
      top: 100%;
   }
}
.column-burger-menu {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   &__title {
      font-weight: 800;
      font-size: 34px;
      margin-bottom: 52px;
   }

   &__link {
      margin-bottom: 30px;
      margin-right: 32px;
   }
   @media (max-width: 1024px) {
      flex-wrap: nowrap;
   }
   @media (max-width: 700px) {
   }
}
.main {
   position: relative;
   margin-bottom: 130px;
   padding-bottom: 37px;
   &__wrapper {
      padding-top: 180px;
   }

   &__svg-title {
      position: absolute;
      top: -90px;
   }

   &__text {
   }

   &__title {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 60px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--gray-1);
   }

   &__title-green-left {
      color: var(--accent-2);
      margin-bottom: 13px;
   }

   &__title-green-right {
      color: var(--accent-2);
      margin-left: 100px;
      margin-bottom: 13px;
   }

   &__text-body {
      display: flex;
      margin-bottom: 100px;
   }

   &__title-white {
      margin-right: 28px;
   }

   &__description {
   }

   &__description-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--white);
      max-width: 360px;
      margin-top: 20px;
      margin-bottom: 30px;
   }

   &__description-link {
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__footer-social {
      display: flex;
   }

   &__footer-social-link {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--white);
      transition: all 0.3s;
      &:not(:last-child) {
         margin-right: 60px;
      }
      &:hover {
         color: var(--accent-2);
      }
   }

   &__sidebar-social {
      position: absolute;
      bottom: 60px;
      right: 70px;
      border-radius: 50px;
      background-color: var(--accent-1);
      padding: 11px 10px 0 10px;
   }

   &__sidebar-social-link {
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      svg path {
         transition: all 0.3s;
      }
      &:last-child:hover path {
         stroke: var(--accent-2);
      }
      &:not(:last-child):hover path {
         fill: var(--accent-2);
      }
   }
   @media (max-width: 1750px) {
      &__sidebar-social {
         bottom: 120px;
      }
   }
   @media (max-width: 1250px) {
      &__svg-title {
         left: 0;
         top: -75px;
      }
   }
   @media (max-width: 1024px) {
      // padding-top: 110px;
      &__wrapper {
         padding-top: 110px;
      }
      &__svg-title {
         top: -29px;
      }
      &__sidebar-social {
         display: none;
      }
      &__footer-social {
         display: none;
      }
      &__text {
      }
      &__title-green-left {
         font-size: 45px;
         margin-bottom: 17px;
      }
      &__title-green-right {
         font-size: 45px;
         margin-left: 0;
         margin-bottom: 17px;
      }
      &__title-white {
         font-size: 45px;
      }
      &__text-body {
         display: block;
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 72px;
      &__title-green-left {
         font-size: 34px;
      }
      &__title-green-right {
         font-size: 34px;
         margin-left: 0;
      }
      &__title-white {
         font-size: 34px;
      }
      &__description-text {
         font-size: 16px;
         margin-top: 60px;
      }
      &__text-body {
         margin-bottom: 118px;
      }
   }
}

.achievements {
   margin-bottom: 135px;
   &__wrapper {
   }

   &__title {
      margin-bottom: 80px;
   }

   &__columns {
      display: flex;
      gap: 20px;
      justify-content: space-between;
   }

   &__column {
   }
   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
      &__columns {
         flex-wrap: wrap;
      }
      &__column {
         width: 47%;
         margin-bottom: 40px;
      }
   }
   @media (max-width: 1024px) {
      // &__ {
      //    font-size: 50px;
      //    span {
      //       font-size: 20px;
      //    }
      // }
   }
   @media (max-width: 550px) {
      margin-bottom: 58px;
      &__title {
         margin-bottom: 40px;
      }
   }
}
.achievements-column {
   &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 22px;
      line-height: 140%;
      color: var(--text-body);
      padding-bottom: 18px;
      border-bottom: 1px solid var(--gray-2);
      margin-bottom: 38px;
   }

   &__subtitle {
      display: flex;
      align-items: baseline;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 42px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--accent-1);
   }

   &__number {
      font-size: 80px;
   }
   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__subtitle {
         font-size: 20px;
         span {
            font-size: 50px;
         }
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 29px;
      &__title {
         padding-bottom: 10px;
         margin-bottom: 30px;
      }

      &__title {
         font-size: 16px;
      }
   }
}
.about {
   margin-bottom: 240px;

   &__title {
      margin-bottom: 40px;
   }

   &__text {
      max-width: 1087px;
      margin-left: auto;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: var(--text-body);
      margin-bottom: 60px;
   }

   &__map {
      position: relative;
      margin-bottom: 17px;
   }

   &__link {
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      margin-bottom: 110px;
      &__title {
         margin-bottom: 30px;
      }
      &__text {
         font-size: 18px;
      }
   }
}
.map-dot {
   position: absolute;
   width: 34px;
   height: 34px;
   &__sm {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      img {
         position: absolute;
      }
   }

   &__md {
      width: 34px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
   }
   &__text {
      position: absolute;
      top: -44px;
      left: 17px;
      box-shadow: 0 2px 8px 0 rgba(76, 123, 135, 0.2);
      background: var(--white);
      padding: 8px 12px;
      border-radius: 6px 6px 6px 0;
      white-space: nowrap;
      opacity: 0;
      &.right {
      }
      &.left {
      }
   }
   &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: var(--text-body);
      margin-bottom: 4px;
   }
   &__subtitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: var(--gray-5);
   }
}
.map-dot-1 {
   top: 27%;
   right: 39%;
}
.map-dot-2 {
   bottom: 21%;
   right: 17%;
   @media (max-width: 980px) {
      display: none;
   }
}
.map-dot-3 {
   bottom: 15.6%;
   left: 29.6%;
}
.map-dot-4 {
   top: 18%;
   left: 9%;
}
.map-dot-5 {
   top: 50%;
   left: 47%;
}
.services {
   position: relative;
   background: url('/img/services-bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 140px;
   margin-bottom: 140px;
   padding-bottom: 203px;
   &__wrapper {
   }

   &__svg-title {
      position: absolute;
      top: -95px;
   }

   &__title {
      margin-bottom: 38px;
   }

   &__text {
      max-width: 1087px;
      margin-left: auto;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: var(--white);
      margin-bottom: 40px;
   }

   &__link {
      margin-bottom: 60px;
      width: max-content;
      margin-left: auto;
   }

   &__carusel {
   }

   @media (max-width: 1750px) {
      padding-top: 80px;
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      padding-bottom: 124px;
      margin-bottom: 80px;
      &__svg-title {
         top: -30px;
         left: 0;
      }
      &__title {
         margin-bottom: 30px;
      }
      &__text {
         font-size: 18px;
         margin-bottom: 30px;
      }
      &__link {
         margin-bottom: 38px;
      }
   }
}

.why-us {
   margin-bottom: 125px;
   &__title {
      margin-bottom: 60px;
   }

   &__body {
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      padding-right: 123px;
   }

   &__column {
   }

   &__column-left {
   }

   &__column-right {
      margin-top: 60px;
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
      &__body {
         padding-right: 0;
         justify-content: center;
      }
   }
   @media (max-width: 1024px) {
      &__body {
         flex-direction: column;
         align-items: center;
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 60px;
      &__title {
         margin-bottom: 40px;
      }
   }
}
.why-us-item {
   margin-bottom: 20px;
   position: relative;
   background: #09325b;
   width: 472px;
   height: 472px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 1s;
   &__title {
      position: absolute;
      top: 40px;
      left: 40px;
      width: 215px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 22px;
      line-height: 140%;
      color: var(--white);
      transition: all 0.5s;
   }

   &__description {
      position: absolute;
      top: 144px;
      left: 38px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--text-body);
      max-width: 245px;
      transition: all 0.5s;
      opacity: 0;
   }

   &__img {
      position: relative;
      width: 200px;
      height: 200px;
      transition: all 0.3s;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__decore {
      position: absolute;
      top: -30px;
      right: -30px;
      transition: all 0.5s;
   }

   &__num {
      position: absolute;
      bottom: 25px;
      left: 50px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 80px;
      line-height: 140%;
      color: var(--white);
      transition: all 0.5s;
   }
   &:hover &__num,
   &:hover &__img {
      opacity: 0;
   }
   &:hover {
      background-color: var(--white);
   }
   &:hover &__title {
      color: var(--text-body);
   }
   &:hover &__description {
      opacity: 1;
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      width: 374px;
      height: 355px;
      &__title {
         font-size: 15px;
      }
      &__img {
         width: 160px;
         height: 160px;
      }
      &__num {
         font-size: 46px;
      }
   }
}
.partners {
   margin-bottom: 140px;
   &__wrapper {
   }

   &__title {
      margin-bottom: 40px;
   }

   &__text {
      margin-left: auto;
      max-width: 1086px;
      margin-bottom: 60px;
   }

   &__tabs {
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      margin-bottom: 100px;
      &__title {
         margin-bottom: 29px;
      }
      &__text {
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 18px;
         line-height: 140%;
         color: var(--text-body);
         margin-bottom: 40px;
      }
   }
}
.partners-tabs {
   ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      overflow: auto;
   }
   &__tab {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: var(--gray-4);
      border-bottom: 3px solid #fff;
      transition: all 0.3s;
      white-space: nowrap;
      &:not(:last-child) {
         margin-right: 50px;
      }

      &:hover {
         border-bottom: 3px solid #003c776e;
      }
   }
   &__tab.active {
      border-bottom: 3px solid var(--accent-1);
   }

   &__btn {
   }

   &__content {
      display: none;
   }
   &__content.active {
      display: block;
   }
   &__content-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
   }

   &__content-img {
      border-radius: 4px;
      background-color: var(--gray-1);
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__content-link {
      border-radius: 4px;
      background-color: var(--accent-2);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 18px;
      padding: 0 54px 30px 0;
      path {
         transition: all 0.3s;
      }
      &:hover p,
      &:hover path {
         color: var(--gray-3);
         stroke: var(--gray-3);
      }
   }

   &__content-link-text {
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__content-grid {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         gap: 20px;
      }
   }
   @media (max-width: 550px) {
      &__content-grid {
         gap: 16px;
      }
      ul {
         margin-bottom: 30px;
      }
      &__content-link {
         p {
            font-size: 12px;
         }
      }
   }
}
.partners-grid__item1 {
   grid-column-start: 1;
   grid-column-end: 3;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   @media (max-width: 1024px) {
      grid-column: span 2;
   }
}
.partners-grid__item5 {
   grid-column-start: 2;
   grid-column-end: 4;
   @media (max-width: 1024px) {
      grid-column: span 2;
   }
}
@media (max-width: 1024px) {
   .partners-grid__item4 {
      grid-row: 4;
   }
}
.news {
   padding: 137px 0;
   background-image: url('/img/news/bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 137px;

   &__wrapper {
   }

   &__title {
      margin-bottom: 60px;
   }

   &__body {
      display: flex;
      justify-content: space-between;
   }

   &__column-left {
      max-width: 660px;
      margin-right: 20px;
   }

   &__list {
   }

   &__link {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: var(--white);
      padding-bottom: 34px;
      margin-bottom: 34px;
      border-bottom: 1px solid var(--white);
      a {
         display: flex;
      }
   }

   &__link-more {
   }

   &__img {
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__img {
         display: none;
      }
   }
   @media (max-width: 550px) {
      padding: 79px 0;
      margin-bottom: 80px;
      &__link {
         font-size: 18px;
         padding-bottom: 22px;
         margin-bottom: 25px;
      }
      &__title {
         margin-bottom: 40px;
      }
      &__list {
         margin-bottom: 30px;
      }
   }
}
.questions {
   margin-bottom: 140px;
   &__wrapper {
   }

   &__title {
      margin-bottom: 60px;
   }

   &__accordion {
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      margin-bottom: 80px;
   }
}
.questions-accordion {
   &__item {
      margin-bottom: 20px;
   }

   &__btn {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: var(--text-body);
      padding: 32px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--gray-1);
      border-radius: 4px;
      width: 100%;
      svg {
         transition: all 0.3s;
      }
   }

   &__text {
      position: relative;
      z-index: -1;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--text-body);
      padding: 40px;
      opacity: 0;
      padding: 0;
      height: 0;
      transition: all 0.3s;
   }
   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__btn {
         padding: 20px;
      }
   }
   @media (max-width: 550px) {
      &__btn {
         font-size: 16px;
      }
   }
}
.questions-accordion__item.active .questions-accordion__btn {
   svg {
      transform: rotate(180deg);
   }
}
.questions-accordion__item.active .questions-accordion__text {
   opacity: 1;
   height: auto;
   padding: 40px;
   z-index: 1;
}
.footer {
   padding-top: 140px;
   padding-bottom: 42px;
   background-image: url('/img/map-gost.svg'), url('/img/news/bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   &_conection {
   }

   &__wrapper {
   }

   &__title {
      margin-bottom: 60px;
   }

   &__subscribe {
   }

   &__copyright {
   }
   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      padding-top: 79px;
      &__title {
         margin-bottom: 40px;
      }
   }
}
.foote-conection {
   margin-bottom: 200px;
   &__body {
      display: flex;
      justify-content: space-between;
   }

   &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 36px;
      line-height: 140%;
      color: var(--white);
      max-width: 590px;
      span {
         color: var(--accent-2);
      }
   }

   &__form {
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__body {
         display: block;
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 59px;
      &__title {
         font-size: 22px;
         margin-bottom: 75px;
      }
   }
}
.footer-form {
   max-width: 718px;
   width: 100%;
   &__columns {
      display: flex;
      gap: 20px;
   }

   &__column {
      flex: 1;
      max-width: 100%;
   }

   &__input-wrapper {
      border-bottom: 1px solid var(--white);
      // padding-bottom: 10px;
      margin-bottom: 60px;
      max-width: 350px;
      width: 100%;
      input {
         outline: none;
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 16px;
         line-height: 140%;
         color: #ffffff;
         width: 100%;
         &::placeholder {
            color: #b3bccc;
         }
      }
   }

   &__select-wrapper {
      position: relative;
      border-bottom: 1px solid var(--white);
      // padding-bottom: 10px;

      select {
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 16px;
         line-height: 140%;
         color: var(--white);
         background: none;
         outline: none;
         border: none;
         appearance: none;
         width: 100%;
         cursor: pointer;
         option {
            color: var(--gray-4);
         }
      }
      label {
         position: absolute;
         top: -20px;
         left: 0;
         font-family: var(--font-family);
         font-weight: 500;
         font-size: 12px;
         line-height: 140%;
         color: #b3bccc;
      }
      svg {
         position: absolute;
         top: 50%;
         right: 0;
         transform: translateY(-50%);
      }
   }
   &__textarea-wrapper {
      position: relative;
      border-bottom: 1px solid var(--white);
      margin-bottom: 40px;
      textarea {
         resize: none;
         overflow: hidden;
         outline: none;
         height: 1.5em;
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5em;
         color: #ffffff;
         width: 100%;
         padding: 5px;
         &::placeholder {
            color: #b3bccc;
         }
      }
   }

   &__btn {
      margin-left: auto;
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      // &__columns {
      //    display: block;
      // }
   }
   @media (max-width: 550px) {
      &__columns {
         display: block;
      }
      &__input-wrapper {
         max-width: 100%;
         padding-bottom: 6px;
         margin-bottom: 54px;
      }
      &__select-wrapper {
         padding-bottom: 5px;
      }
      &__column {
         margin-bottom: 60px;
      }
      &__btn {
         margin-left: 0;
      }
   }
}
.footer-subscribe {
   border-bottom: 1px solid var(--white);
   padding-bottom: 26px;
   margin-bottom: 42px;
   &__columns {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child {
         align-items: flex-start;
      }
      &:last-child {
         align-items: flex-end;
      }
   }

   &__title-green {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--accent-2);
      margin-bottom: 9px;
   }

   &__link-sm {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: var(--gray-2);
   }

   &__title-white {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--white);
      margin-bottom: 14px;
   }

   &__link-md {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 36px;
      line-height: 140%;
      color: var(--gray-2);
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
      &__columns {
         flex-direction: column;
      }
      &__column {
         flex-direction: column;

         align-items: flex-start;
         &:first-child {
            align-items: flex-start;
            order: 2;
         }
         &:last-child {
            align-items: flex-start;
         }
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 10px;
      &__columns {
         align-items: flex-start;
      }
      &__column {
         // flex-direction: column;
         &:not(:last-child, :first-child) {
            flex-direction: column-reverse;
            align-items: flex-start;
         }

         align-items: flex-start;
         &:first-child {
            align-items: flex-start;
            order: 2;
            margin-bottom: 33px;
         }
         &:last-child {
            align-items: flex-start;
            margin-bottom: 33px;
         }
      }
      &__link-md {
         font-size: 32px;
         line-height: 140%;
         margin-bottom: 32px;
      }
      &__title-white {
         margin-bottom: 40px;
      }
   }
}
.footer-copyright {
   display: flex;
   justify-content: space-between;
   font-family: var(--second-family);
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   color: var(--white);
   align-items: center;
   div {
      display: flex;
      p {
         margin-right: 13px;
      }
   }

   @media (max-width: 1750px) {
   }
   @media (max-width: 1250px) {
   }
   @media (max-width: 1024px) {
   }
   @media (max-width: 550px) {
      flex-direction: column;
      align-items: center;
   }
}
