.main {
   position: relative;
   margin-bottom: 130px;
   padding-bottom: 37px;
   margin-top: 130px;
   &__wrapper {
      padding-top: 180px;
   }

   &__text {
   }

   &__title {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 60px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--gray-1);
   }

   &__title-green-left {
      color: var(--accent-2);
      margin-bottom: 13px;
   }

   &__title-green-right {
      color: var(--accent-2);
      margin-left: 100px;
      margin-bottom: 13px;
   }

   &__text-body {
      display: flex;
      margin-bottom: 100px;
   }

   &__title-white {
      margin-right: 28px;
   }

   &__description {
   }

   &__description-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--white);
      max-width: 360px;
      margin-top: 20px;
      margin-bottom: 30px;
   }

   &__description-link {
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__footer-social {
      display: flex;
   }

   &__footer-social-link {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--white);
      transition: all 0.3s;
      &:not(:last-child) {
         margin-right: 60px;
      }
      &:hover {
         color: var(--accent-2);
      }
   }

   &__sidebar-social {
      position: absolute;
      bottom: 60px;
      right: 70px;
      border-radius: 50px;
      background-color: var(--accent-1);
      padding: 11px 10px 0 10px;
   }

   &__sidebar-social-link {
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      svg path {
         transition: all 0.3s;
      }
      &:last-child:hover path {
         stroke: var(--accent-2);
      }
      &:not(:last-child):hover path {
         fill: var(--accent-2);
      }
   }
   @media (max-width: 1750px) {
      &__sidebar-social {
         bottom: 120px;
      }
   }

   @media (max-width: 1024px) {
      &__wrapper {
         padding-top: 110px;
      }

      &__sidebar-social {
         display: none;
      }
      &__footer-social {
         display: none;
      }
      &__text {
      }
      &__title-green-left {
         font-size: 45px;
         margin-bottom: 17px;
      }
      &__title-green-right {
         font-size: 45px;
         margin-left: 0;
         margin-bottom: 17px;
      }
      &__title-white {
         font-size: 45px;
      }
      &__text-body {
         display: block;
      }
   }
   @media (max-width: 550px) {
      margin-bottom: 72px;
      &__title-green-left {
         font-size: 34px;
      }
      &__title-green-right {
         font-size: 34px;
         margin-left: 0;
      }
      &__title-white {
         font-size: 34px;
      }
      &__description-text {
         font-size: 16px;
         margin-top: 60px;
      }
      &__text-body {
         margin-bottom: 118px;
      }
   }
}

.slider-main {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 718px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   &__btns {
      display: flex;
      gap: 30px;
   }
   &__button-next {
      width: 79px;
      position: static;
      margin: 0;
      cursor: pointer;
      &::after {
         content: '';
      }
   }
   &__button-prev {
      width: 79px;
      position: static;
      margin: 0;
      cursor: pointer;
      &::after {
         content: '';
      }
   }
   &__item {
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   @media (max-width: 550px) {
      height: 673px;
   }
}
