<div
   class="job-openinngs-accordion"
   data-aos="fade-right"
   data-aos-duration="1000"
>
   <div class="job-openinngs-accordion__item">
      <button class="job-openinngs-accordion__btn">
         <p>Как застрахован груз на международных грузоперевозках?</p>
         <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <path
               d="M1 15L15 1M15 1H2.21739M15 1V13.7826"
               stroke="#003B77"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
            />
         </svg>
      </button>
      <div class="job-openinngs-accordion__wrapper">
         <p class="job-openinngs-accordion__text">
            Наша компания работает на рынке пять лет и за это время мы
            разработали чётко отлаженные подходы и стандарты по перевозки грузов
            любым видом транспорта в любом направлении. При этом всегда
            учитываются все требования и выдвигаемые условия каждого клиента.
         </p>
         <p class="job-openinngs-accordion__text">
            Наши специалисты используют индивидуальный подход к каждому клиенту
            и поэтому все нюансы выясняются еще на стадии оформления заявки на
            оказание услуги и предварительных консультаций в удаленном режиме.
         </p>
         <p class="job-openinngs-accordion__text">
            Осуществляются грузоперевозки исключительно в соответствии с
            законодательными нормами, с составлением договора.
         </p>
         <h6 class="job-openinngs-accordion__subtitle">
            Требуемый опыт работы:
         </h6>
         <ul class="job-openinngs-accordion__list">
            <li>От 1 года до 10 лет</li>
            <li>Полная занятость</li>
         </ul>
         <h6 class="job-openinngs-accordion__subtitle">Обязанности:</h6>
         <p class="job-openinngs-accordion__text">
            Наша компания работает на рынке пять лет и за это время мы
            разработали чётко отлаженные подходы и стандарты по перевозки грузов
            любым видом транспорта в любом направлении. При этом всегда
            учитываются все требования и выдвигаемые условия каждого клиента.
         </p>
         <p class="job-openinngs-accordion__text">
            Наши специалисты используют индивидуальный подход к каждому клиенту
            и поэтому все нюансы выясняются еще на стадии оформления заявки на
            оказание услуги и предварительных консультаций в удаленном режиме.
         </p>
         <p class="job-openinngs-accordion__text">
            Осуществляются грузоперевозки исключительно в соответствии с
            законодательными нормами, с составлением договора.
         </p>
         <p class="job-openinngs-accordion__text">
            Если Вас заинтересовала вакансия, прикрепите и отправте резюме с
            указанием интересующей сферы деятельности и зарплатными ожиданиями
         </p>
         <form
            action="#"
            class="job-openinngs-accordion__form job-openinngs-accordion-form"
         >
            <div class="job-openinngs-accordion-form__columns">
               <div class="job-openinngs-accordion-form__column">
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs1"></label>
                     <input
                        type="text"
                        id="openinngs1"
                        name="name"
                        placeholder="ФИО"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs2"></label>
                     <input
                        type="text"
                        id="openinngs2"
                        name="lastName"
                        placeholder="Фамилия"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs3"></label>
                     <input
                        type="text"
                        id="openinngs3"
                        name="mail"
                        placeholder="E-mail"
                     />
                  </div>
               </div>
               <div class="job-openinngs-accordion-form__column">
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs4"></label>
                     <input
                        type="text"
                        id="openinngs4"
                        name="phone"
                        placeholder="Телефон"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs5"></label>
                     <input
                        type="text"
                        id="openinngs5"
                        name="budget"
                        placeholder="Предполагаемый бюджет"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs6"></label>
                     <input
                        type="text"
                        id="openinngs6"
                        name="Linkedin"
                        placeholder="Ссылка на Linkedin (необязательно)"
                     />
                  </div>
               </div>
            </div>
            <div class="job-openinngs-accordion-form__textarea">
               <label for="comment-openings"></label>
               <textarea
                  name="comment"
                  id="comment-openings"
                  placeholder="Комментарий"
               ></textarea>
            </div>
            <p class="job-openinngs-accordion__text">Прикрепите своё резюме.</p>
            <div class="job-openinngs-accordion-form__file">
               <input type="file" class="input-file" />
            </div>
            <p class="job-openinngs-accordion-form__politic">
               Нажимая на кнопку «Отправить» вы принимаете условия
               <span>Политики кофиденциальности</span> и
               <span>Обработки персональных данных</span>.
            </p>

            @@include('../../components/link.html', {"text": "Отправить"})
         </form>
      </div>
   </div>
   <div class="job-openinngs-accordion__item">
      <button class="job-openinngs-accordion__btn">
         <p>Как застрахован груз на международных грузоперевозках?</p>
         <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <path
               d="M1 15L15 1M15 1H2.21739M15 1V13.7826"
               stroke="#003B77"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
            />
         </svg>
      </button>
      <div class="job-openinngs-accordion__wrapper">
         <p class="job-openinngs-accordion__text">
            Наша компания работает на рынке пять лет и за это время мы
            разработали чётко отлаженные подходы и стандарты по перевозки грузов
            любым видом транспорта в любом направлении. При этом всегда
            учитываются все требования и выдвигаемые условия каждого клиента.
         </p>
         <p class="job-openinngs-accordion__text">
            Наши специалисты используют индивидуальный подход к каждому клиенту
            и поэтому все нюансы выясняются еще на стадии оформления заявки на
            оказание услуги и предварительных консультаций в удаленном режиме.
         </p>
         <p class="job-openinngs-accordion__text">
            Осуществляются грузоперевозки исключительно в соответствии с
            законодательными нормами, с составлением договора.
         </p>
         <h6 class="job-openinngs-accordion__subtitle">
            Требуемый опыт работы:
         </h6>
         <ul class="job-openinngs-accordion__list">
            <li>От 1 года до 10 лет</li>
            <li>Полная занятость</li>
         </ul>
         <h6 class="job-openinngs-accordion__subtitle">Обязанности:</h6>
         <p class="job-openinngs-accordion__text">
            Наша компания работает на рынке пять лет и за это время мы
            разработали чётко отлаженные подходы и стандарты по перевозки грузов
            любым видом транспорта в любом направлении. При этом всегда
            учитываются все требования и выдвигаемые условия каждого клиента.
         </p>
         <p class="job-openinngs-accordion__text">
            Наши специалисты используют индивидуальный подход к каждому клиенту
            и поэтому все нюансы выясняются еще на стадии оформления заявки на
            оказание услуги и предварительных консультаций в удаленном режиме.
         </p>
         <p class="job-openinngs-accordion__text">
            Осуществляются грузоперевозки исключительно в соответствии с
            законодательными нормами, с составлением договора.
         </p>
         <p class="job-openinngs-accordion__text">
            Если Вас заинтересовала вакансия, прикрепите и отправте резюме с
            указанием интересующей сферы деятельности и зарплатными ожиданиями
         </p>
         <form
            action="#"
            class="job-openinngs-accordion__form job-openinngs-accordion-form"
         >
            <div class="job-openinngs-accordion-form__columns">
               <div class="job-openinngs-accordion-form__column">
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs1"></label>
                     <input
                        type="text"
                        id="openinngs1"
                        name="name"
                        placeholder="ФИО"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs2"></label>
                     <input
                        type="text"
                        id="openinngs2"
                        name="lastName"
                        placeholder="Фамилия"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs3"></label>
                     <input
                        type="text"
                        id="openinngs3"
                        name="mail"
                        placeholder="E-mail"
                     />
                  </div>
               </div>
               <div class="job-openinngs-accordion-form__column">
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs4"></label>
                     <input
                        type="text"
                        id="openinngs4"
                        name="phone"
                        placeholder="Телефон"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs5"></label>
                     <input
                        type="text"
                        id="openinngs5"
                        name="budget"
                        placeholder="Предполагаемый бюджет"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs6"></label>
                     <input
                        type="text"
                        id="openinngs6"
                        name="Linkedin"
                        placeholder="Ссылка на Linkedin (необязательно)"
                     />
                  </div>
               </div>
            </div>
            <div class="job-openinngs-accordion-form__textarea">
               <label for="comment-openings"></label>
               <textarea
                  name="comment"
                  id="comment-openings"
                  placeholder="Комментарий"
               ></textarea>
            </div>
            <p class="job-openinngs-accordion__text">Прикрепите своё резюме.</p>
            <div class="job-openinngs-accordion-form__file">
               <input type="file" class="input-file" />
            </div>
            <p class="job-openinngs-accordion-form__politic">
               Нажимая на кнопку «Отправить» вы принимаете условия
               <span>Политики кофиденциальности</span> и
               <span>Обработки персональных данных</span>.
            </p>

            @@include('../../components/link.html', {"text": "Отправить"})
         </form>
      </div>
   </div>
   <div class="job-openinngs-accordion__item">
      <button class="job-openinngs-accordion__btn">
         <p>Как застрахован груз на международных грузоперевозках?</p>
         <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <path
               d="M1 15L15 1M15 1H2.21739M15 1V13.7826"
               stroke="#003B77"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
            />
         </svg>
      </button>
      <div class="job-openinngs-accordion__wrapper">
         <p class="job-openinngs-accordion__text">
            Наша компания работает на рынке пять лет и за это время мы
            разработали чётко отлаженные подходы и стандарты по перевозки грузов
            любым видом транспорта в любом направлении. При этом всегда
            учитываются все требования и выдвигаемые условия каждого клиента.
         </p>
         <p class="job-openinngs-accordion__text">
            Наши специалисты используют индивидуальный подход к каждому клиенту
            и поэтому все нюансы выясняются еще на стадии оформления заявки на
            оказание услуги и предварительных консультаций в удаленном режиме.
         </p>
         <p class="job-openinngs-accordion__text">
            Осуществляются грузоперевозки исключительно в соответствии с
            законодательными нормами, с составлением договора.
         </p>
         <h6 class="job-openinngs-accordion__subtitle">
            Требуемый опыт работы:
         </h6>
         <ul class="job-openinngs-accordion__list">
            <li>От 1 года до 10 лет</li>
            <li>Полная занятость</li>
         </ul>
         <h6 class="job-openinngs-accordion__subtitle">Обязанности:</h6>
         <p class="job-openinngs-accordion__text">
            Наша компания работает на рынке пять лет и за это время мы
            разработали чётко отлаженные подходы и стандарты по перевозки грузов
            любым видом транспорта в любом направлении. При этом всегда
            учитываются все требования и выдвигаемые условия каждого клиента.
         </p>
         <p class="job-openinngs-accordion__text">
            Наши специалисты используют индивидуальный подход к каждому клиенту
            и поэтому все нюансы выясняются еще на стадии оформления заявки на
            оказание услуги и предварительных консультаций в удаленном режиме.
         </p>
         <p class="job-openinngs-accordion__text">
            Осуществляются грузоперевозки исключительно в соответствии с
            законодательными нормами, с составлением договора.
         </p>
         <p class="job-openinngs-accordion__text">
            Если Вас заинтересовала вакансия, прикрепите и отправте резюме с
            указанием интересующей сферы деятельности и зарплатными ожиданиями
         </p>
         <form
            action="#"
            class="job-openinngs-accordion__form job-openinngs-accordion-form"
         >
            <div class="job-openinngs-accordion-form__columns">
               <div class="job-openinngs-accordion-form__column">
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs1"></label>
                     <input
                        type="text"
                        id="openinngs1"
                        name="name"
                        placeholder="ФИО"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs2"></label>
                     <input
                        type="text"
                        id="openinngs2"
                        name="lastName"
                        placeholder="Фамилия"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs3"></label>
                     <input
                        type="text"
                        id="openinngs3"
                        name="mail"
                        placeholder="E-mail"
                     />
                  </div>
               </div>
               <div class="job-openinngs-accordion-form__column">
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs4"></label>
                     <input
                        type="text"
                        id="openinngs4"
                        name="phone"
                        placeholder="Телефон"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs5"></label>
                     <input
                        type="text"
                        id="openinngs5"
                        name="budget"
                        placeholder="Предполагаемый бюджет"
                     />
                  </div>
                  <div class="job-openinngs-accordion-form__input">
                     <label for="openinngs6"></label>
                     <input
                        type="text"
                        id="openinngs6"
                        name="Linkedin"
                        placeholder="Ссылка на Linkedin (необязательно)"
                     />
                  </div>
               </div>
            </div>
            <div class="job-openinngs-accordion-form__textarea">
               <label for="comment-openings"></label>
               <textarea
                  name="comment"
                  id="comment-openings"
                  placeholder="Комментарий"
               ></textarea>
            </div>
            <p class="job-openinngs-accordion__text">Прикрепите своё резюме.</p>
            <div class="job-openinngs-accordion-form__file">
               <input type="file" class="input-file" />
            </div>
            <p class="job-openinngs-accordion-form__politic">
               Нажимая на кнопку «Отправить» вы принимаете условия
               <span>Политики кофиденциальности</span> и
               <span>Обработки персональных данных</span>.
            </p>

            @@include('../../components/link.html', {"text": "Отправить"})
         </form>
      </div>
   </div>
</div>
