// Базовые стили
@use 'base/reset';
@use 'base/variables';

// Блоки макета
@use 'layouts/header';
@use 'layouts/footer';

// Компоненты
@use 'components/map';
@use 'components/title-svg';

//секции
@use 'sections/global/questions';
@use 'sections/global/achievements';
@use 'sections/global/section-main.scss';
@use 'sections/global/section-why-us.scss';

@use 'sections/home-page/home-main';
@use 'sections/home-page/home-about';
@use 'sections/home-page/home-services';
@use 'sections/home-page/home-news';
@use 'sections/about-page/about-main.scss';
@use 'sections/about-page/about-citation.scss';
@use 'sections/about-page/about-superiors.scss';
@use 'sections/about-page/about-priorities.scss';
@use 'sections/about-page/about-history.scss';
@use 'sections/services-page/services-our-services.scss';
@use 'sections/detailed-services-page/detailed-serv-we-offer.scss';
@use 'sections/detailed-services-page/detailed-serv-about.scss';
@use 'sections/news-page/news-list.scss';

//страницы
