<section class="about-history">
   <div class="container">
      <div class="about-history__wrapper">
         <h3 class="about-history__title section__title">
            История развития компании
         </h3>
         <div class="about-history__columns">
            <div class="about-history__column--decore">
               <div class="about-history-decor">
                  <div class="about-history-decor__circle"></div>
                  <span class="about-history-decor__yewar-prev">20</span>
                  <span class="about-history-decor__yewar-now">2021</span>
                  <span class="about-history-decor__yewar-next">22</span>
               </div>
            </div>
            <div class="about-history__column about-history__column--list">
               <ul class="about-history__list">
                  <li class="about-history-item">
                     <p class="about-history-item__subtitle">Декабрь, 2020</p>
                     <p class="about-history-item__text">
                        Обзор железнодорожного, автомобильного рынка в России,
                        тенденции изменений рынка на будущий год, активная
                        динамика. Обзор железнодорожного, автомобильного рынка в
                        России, тенденции изменений рынка на будущий год,
                        активная динамика.
                     </p>
                  </li>
                  <li class="about-history-item">
                     <p class="about-history-item__subtitle">Декабрь, 2020</p>
                     <p class="about-history-item__text">
                        Обзор железнодорожного, автомобильного рынка в России,
                        тенденции изменений рынка на будущий год, активная
                        динамика. Обзор железнодорожного, автомобильного рынка в
                        России, тенденции изменений рынка на будущий год,
                        активная динамика.
                     </p>
                  </li>
                  <li class="about-history-item">
                     <p class="about-history-item__subtitle">Декабрь, 2020</p>
                     <p class="about-history-item__text">
                        Обзор железнодорожного, автомобильного рынка в России,
                        тенденции изменений рынка на будущий год, активная
                        динамика. Обзор железнодорожного, автомобильного рынка в
                        России, тенденции изменений рынка на будущий год,
                        активная динамика.
                     </p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
