<section class="about-superiors">
   <div class="container">
      <h3 class="about-superiors__title section__title">Руководство</h3>

      <div class="about-superiors__body">
         <div class="about-superiors__img">
            <img src="assets/img/pages/about/superiors.jpg" alt="superiors" />
            <p class="about-superiors__post">Генеральный директор</p>

            <p class="about-superiors__annotation">Обращение руководства</p>
         </div>

         <div class="about-superiors__info">
            <h4 class="about-superiors__subtitle">Сергей Смирнов</h4>
            <p class="about-superiors__text">
               <span>“</span>
               Создание благоприятной среды взаимопонимания и взаимоуважения
               всех участников цепочки поставок, соблюдая национальные
               и международные законы и правила, а также строгие этические
               принципы ведения бизнеса. Наше видение и цель неразрывно связаны
               с постоянным стремлением к улучшению и оптимизации на протяжении
               всего жизненного цикла компании, что является ключевым элементом
               системы корпоративных ценностей.
            </p>
         </div>
      </div>
   </div>
   @@include('../global/achievements.html')
</section>
