<section class="about-info">
   <div class="container">
      <h2 class="about-info__title section__title">О компании</h2>
      <div class="about-info__body">
         <div class="about-info__text about-info__text--top">
            <h3 class="about-info__subtitle">Видение Джитрис</h3>
            <p>
               Быть партнёром по росту и развитию для наших клиентов.
               Как логистическая компания, мы предлагаем эффективные решения,
               основываясь на нашем опыте в следующих областях:
               транспортно-экспедиционное обслуживание клиентов, контрактная
               логистика и оптимизация цепочек поставок. Наша компания
               предоставляет широкий спектр услуг по доставке грузов наземным,
               морским и воздушным транспортом, складской обработке
               и страхованию грузов. Основываясь на глубоком понимании специфики
               различных отраслей, мы применяем индивидуальный подход
               к потребностям наших клиентов в области логистики.
            </p>
         </div>
         <div class="about-info__images">
            <div class="about-info__img about-info__img--small">
               <img
                  src="assets/img/pages/about/about-smoll-img.jpg"
                  alt="about-img-small"
               />
            </div>
            <div class="about-info__img about-info__img--big">
               <img
                  src="assets/img/pages/about/about-big-img.jpg"
                  alt="about-img-big"
               />
            </div>
         </div>
         <div class="about-info__text about-info__text--bottom">
            <h3 class="about-info__subtitle">Цель Джитрис</h3>
            <p>
               Создание благоприятной среды взаимопонимания и взаимоуважения
               всех участников цепочки поставок, соблюдая национальные
               и международные законы и правила, а также строгие этические
               принципы ведения бизнеса. Создание благоприятной среды
               взаимопонимания и взаимоуважения всех участников цепочки
               поставок, соблюдая национальные и международные законы и правила,
               а также строгие этические принципы ведения бизнеса.
            </p>
         </div>
      </div>
      @@include('../../components/map.html')
   </div>
</section>
