<section class="about-priorities">
   <div class="container">
      <div class="about-priorities__title section__title-white">
         Стратегические приоритеты
      </div>

      <div class="about-priorities__wrapper">
         <div class="swiper about-priorities-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
               <!-- Slides -->
               <div class="swiper-slide">
                  <div class="about-priorities-swiper__item">
                     <img
                        src="assets/img/pages/about/slider-img1.jpg"
                        alt="slide1"
                     />
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="about-priorities-swiper__item">
                     <img
                        src="assets/img/pages/about/slider-img2.jpg"
                        alt="slide2"
                     />
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="about-priorities-swiper__item">
                     <img
                        src="assets/img/pages/about/slider-img3.jpg"
                        alt="slide3"
                     />
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="about-priorities-swiper__item">
                     <img
                        src="assets/img/pages/about/slider-img1.jpg"
                        alt="slide1"
                     />
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="about-priorities-swiper__item">
                     <img
                        src="assets/img/pages/about/slider-img2.jpg"
                        alt="slide2"
                     />
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="about-priorities-swiper__item">
                     <img
                        src="assets/img/pages/about/slider-img3.jpg"
                        alt="slide3"
                     />
                  </div>
               </div>
            </div>
            <!-- If we need pagination -->

            <!-- If we need scrollbar -->
         </div>

         <div class="about-priorities-swiper__scrollbar"></div>
      </div>

      <div class="about-priorities__content">
         <p class="about-priorities__text">
            Реализация процесса перевозки с использованием интеграционных
            решений, основываясь на изучении и понимании специфики различных
            отраслей.
         </p>
         @@include('../../components/link-white.html', { "className":
         "about-priorities__link", "text": 'отправить заявку', })
      </div>
   </div>
</section>
